In [ ]:
a="122334455533311"
for i in range(len(a)-1):
  print(a[i])
print(i)
print(len(a))

1
2
2
3
3
4
4
5
5
5
3
3
3
1
13
15

In [ ]:
s = input()
occurrences = {}
alloccurrences = []
occurrences[s[0]] = 0
for i in s:
    if (i in occurrences):
        occurrences[i] =  occurrences[i] + 1
    else :
        (k, v), = occurrences.items()
        alloccurrences.append(str((v,int(k))))
        occurrences.clear()
        occurrences[i] = 1
(k, v), = occurrences.items()
alloccurrences.append(str((v,int(k))))
print(' '.join(alloccurrences))

1223334445511667771
(1, 1) (2, 2) (3, 3) (3, 4) (2, 5) (2, 1) (2, 6) (3, 7) (1, 1)

In [ ]:
c1={'a':5}
print(c1.items())
(k,v),=c1.items()
print(k)
print(v)

dict_items([('a', 5)])

ValueError: ignored

In [ ]:
c1.clear()
print(c1)

{}

In [ ]:
def kumfo(n):
  d1={}
  d2=[]
  d1[n[0]]=0
  for i in n:
    if (i in d1):
      d1[i]=d1[i]+1
    else:
      (k,n),=d1.items()
      d2.append(str((n,k)))
      d1.clear()
      d1[i]=1
  (k,n),=d1.items()
  d2.append(str((n,k)))
  print(d2)
n=input()
kumfo(n)

1223334445511667771
["(1, '1')", "(2, '2')", "(3, '3')", "(3, '4')", "(2, '5')", "(2, '1')", "(2, '6')", "(3, '7')", "(1, '1')"]

In [ ]:
def kunfo1(n):
  d1={}
  d2=[]
  d1[n[0]]=0
  for i in n:
    if (i in d1):
      d1[i]=d1[i]+1
    else:
      (k,n),=d1.items()
      d2.append(str((n,k)))
      d1.clear()
      d1[i]=1
  (k,n),=d1.items()
  d2.append(str((n,k)))
  print(d2)
n1=input()
kunfo1(n1)

1223334445511667771
["(1, '1')", "(2, '2')", "(3, '3')", "(3, '4')", "(2, '5')", "(2, '1')", "(2, '6')", "(3, '7')", "(1, '1')"]

In [ ]:
def mann(n):
  a=1
  k1=[]
  for i in range(len(n)-1):
    if n[i]==n[i+1]:
      a+=1
    else:
      k2=(a,n[i])
      k1.append(k2)
      a=1
  k2=(a,n[i+1])
  k1.append(k2)
  print(k1)
n=input()
mann(n)

1223334445511667771
[(1, '1'), (2, '2'), (3, '3'), (3, '4'), (2, '5'), (2, '1'), (2, '6'), (3, '7'), (1, '1')]

In [ ]:
def mannu1(nm):
  a1={}
  a2=[]
  a1[nm[0]]=0
  for i in nm:
    if (i in a1):
      a1[i]=a1[i]+1
    else:
      (k,n),=a1.items()
      a2.append(str((n,k)))
      a1.clear()
      a1[i]=1
  (k,n),=a1.items()
  a2.append(str((n,k)))
  print(a2)
n1=input()
mannu1(n1)

1223334445511667771
["(1, '1')", "(2, '2')", "(3, '3')", "(3, '4')", "(2, '5')", "(2, '1')", "(2, '6')", "(3, '7')", "(1, '1')"]

In [ ]:
def mannu2(nm):
  a2=[]
  a=1
  for i in range(len(nm)-1):
    if nm[i]==nm[i+1]:
      a+=1
    else:
      c1=(a,nm[i])
      a2.append(c1)
      a=1
  c1=(a,nm[i+1])
  a2.append(c1)
  print(a2)
n1=input()
mannu2(n1)
#if len(nm)=15 then for loop will run till i is 13 and if nm[13]==nm[14] then if loop is executed and a is incremented but it is not stored in the list
#hence when we come out of the loop then it is stored in a tuple c1 and then appended to a2 list
#if nm[13]!=nm[14] then c1 is extracterd for nm[13]th element and then a is made 1 for nm[14]th element. and then after coming out of the loop it is extracted
#outside the loop even if nm[13]==nm[14], then we extract the last element because when nm[13]!=nm[14] and we make c1=(a,nm[i])/(a,nm[13]) which is wrong
#so we will always extract (a,nm[14])

1223334445511667771
[(1, '1'), (2, '2'), (3, '3'), (3, '4'), (2, '5'), (2, '1'), (2, '6'), (3, '7'), (1, '1')]

In [ ]:
a1="""4
bcdef
abcdefg
bcde
bcdef"""
a2=a1.split("\n")
print(a2)
print(a2[1:])

['4', 'bcdef', 'abcdefg', 'bcde', 'bcdef']
['bcdef', 'abcdefg', 'bcde', 'bcdef']

In [ ]:
a1="""4
bcdef
abcdefg
bcde
bcdef"""
a2=a1.split("\n")[1:]
c1={}
k1=len(set(a2))
print(k1)
for i in a2:
  if i in c1:
    c1[i]+=1
  else:
    c1[i]=1
for k in c1:
  print(c1[k],end=" ")

3
2 1 1

In [ ]:
c1=int(input())
print(c1)

5 apple banana apple orange banana

ValueError: ignored

In [ ]:
from collections import Counter
l = []
for i in range(int(c1)):
    l.append(c1)
x = Counter(l)
print(len(x))
print(*x.values())

c3="""4
bcdef
abcdefg
bcde
bcdef"""

TypeError: ignored

In [ ]:
from collections import Counter
l = []
for i in range(int(input())):
    l.append(input())
x = Counter(l)
print(x)
print(len(x))
print(x.values())
print(*x.values())

4
bcdef
abcdefg
bcde
bcdefg
Counter({'bcdef': 1, 'abcdefg': 1, 'bcde': 1, 'bcdefg': 1})
4
dict_values([1, 1, 1, 1])
1 1 1 1

In [ ]:
#A hashable object is an object that has a hash value that never changes during its lifetime. Immutable objects are hashable whereas mutable objects are not hashable.
#Example of hashable objects include integer,float,strings,tuples(if they contain hashable items)

In [ ]:
c=(1,2,{1,2,3})
print(c)
hash(c)

(1, 2, {1, 2, 3})

TypeError: ignored

In [ ]:
c1=(1,2,3)
hash(c1)
#as you can see a tuple is hashable only if all its values are hashable.
#The first advantage of tuple over list is firstly content of tuple never changes whereas a list is mutable
#Secondly tuple is more memory efficient as unlike list it doesnot use dynamic memory allocation.

529344067295497451

In [ ]:
#Also sets cannot contain duplicates, elements of sets must be hashable, also keys of dictionaries must be hashable
#Counter is a class in python's collection module that is used for counting hashables. It returns dictionary where keys are items from the iterables and values are their counts.
#Counter is a class in python's collection module that is used for counting hashables. It returns dictionary which has items of the iterables as keys and its count as values.

In [ ]:
from collections import Counter
l1=[]
for i in range(int(input())):
  l1.append(input())
c1=Counter(l1)
print(len(c1))
print(*c1.values())
print(*c1.items())

4
bcdef
abcde
bcde
bcdef
3
2 1 1
('bcdef', 2) ('abcde', 1) ('bcde', 1)

In [ ]:
a,b,*c=[1,2,3,4,5,6,7]
print(a)
print(b)
print(c)

1
2
[3, 4, 5, 6, 7]

In [ ]:
c12={'a':1,'b':2,'c':3,'d':4,'e':5,'f':6,'g':7,'h':8}
print(c12.values())

dict_values([1, 2, 3, 4, 5, 6, 7, 8])

In [ ]:

a=*c12.values()
print(a)

SyntaxError: ignored

In [ ]:
print(*c12.values())

1 2 3 4 5 6 7 8

In [ ]:
from collections import Counter
a1=[]
for i in range(int(input())):
  a1.append(input())
l1=Counter(a1)
print(len(l1))
print(*l1.values())

4
bcdef
abcd
abcde
bcdef
3
2 1 1

In [ ]:
from itertools import combinations
c2=['a','b','c','d','e','f']
c1=["".join(word) for word in list(combinations(c2,2))]
print(c1)

['ab', 'ac', 'ad', 'ae', 'af', 'bc', 'bd', 'be', 'bf', 'cd', 'ce', 'cf', 'de', 'df', 'ef']

In [ ]:
from itertools import combinations
c2=['a','b','c','d','e','f']
c1=list(combinations(c2,2))
print(c1)

[('a', 'b'), ('a', 'c'), ('a', 'd'), ('a', 'e'), ('a', 'f'), ('b', 'c'), ('b', 'd'), ('b', 'e'), ('b', 'f'), ('c', 'd'), ('c', 'e'), ('c', 'f'), ('d', 'e'), ('d', 'f'), ('e', 'f')]

In [ ]:
from itertools import combinations
c2=['a','a','b','c','d','e']
c3=list(combinations(c2,2))
a1=0
for i in c3:
  if 'a' in i:
    a1+=1
print(f"{a1/len(c3)}")

0.6

In [ ]:
from itertools import combinations
c2=['a','a','c','d']
c3=list(combinations(c2,2))
a1=0
for i in c3:
  if 'a' in i:
    a1+=1
print(f"{a1/len(c3)}")

0.8333333333333334

In [ ]:
from itertools import combinations
a1=int(input())
b1=input().split(" ")
c1=int(input())
d1=list(combinations(b1,c1))
a2=0
for z in d1:
  if 'a' in z:
    a2+=1
print(f"{a2/len(d1)}")

4
a a b c
2
0.8333333333333334

In [ ]:
#Q8
from itertools import combinations
a1=int(input())
a2=input().split(" ")
a3=int(input())
l1=list(combinations(a2,a3))
an=0
for i in l1:
  an+=1 if 'a' in i else 0
print(f"{an/len(l1)}")

4
a a b c
2
0.8333333333333334

In [ ]:
from collections import Counter


N = int(input())
count = Counter(map(int, input().split()))
print(count)
print(type(count))
print(next(k for k, v in count.items() if v != N))

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
Counter({1: 5, 2: 5, 3: 5, 6: 5, 5: 5, 4: 5, 8: 1})
<class 'collections.Counter'>
<generator object <genexpr> at 0x7eb8da9c5a80>

In [ ]:
def gn(n):
  yield n

c1=gn(2)
print(c1)

print(next(c1))

<generator object gn at 0x7eb8da9c5c40>
2

In [ ]:
#A generator function is used for creating iterators. The difference between generator function and other functions is that a generator function doesnot get terminated until the StopIteration
#exception is raised but function gets terminated the moment return statement is executed.

In [ ]:
#An iterable only has the __iter__() method whereas an iterator has both the __iter__() and __next__() magic method.
#Generator generates value in the memory one at a time instead of storing the entire data in the memory at once.

In [ ]:
#Q9
from collections import Counter
a1="aaaabbbcccdddeee"
k={}
for i in a1:
  if i in k:
    k[i]+=1
  else:
    k[i]=1
c1=[a for a in k if k[a]==max(k.values())]
print("".join(c1))

a

In [ ]:
from collections import Counter
a1="aaaabbcccdeee"
c1=Counter(a1)
c2={a:b for a,b in c1.items()}
c3="".join([a for a in c2 if c2[a]==max(c2.values())])
print(c3)

a

In [ ]:
from collections import Counter
a1=int(input())
a3=Counter(input().split(" "))
c3={a:b for a,b in a3.items()}
c4="".join(a for a in c3 if c3[a]!=a1)
print(c4)

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

In [ ]:
from collections import Counter
a1=int(input())
a2=Counter(input().split(" "))
c2={a:b for a,b in a2.items()}
c3="".join([a11 for a11 in c2 if c2[a11]!=a1])
print(c3)

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

In [ ]:
from collections import Counter
a1=int(input())
a2=Counter(input().split(" "))
print(next(a3 for a3,b3 in a2.items() if b3!=a1))
#next is used in generator objects

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

In [ ]:
a1=2
print(f"{a1:.2f}")

2.00

In [ ]:
import math
class complex:
  def __init__(self,real,imaginary):
    self.real,self.imaginary=real,imaginary
  def __add__(self,no):
    a=self.real+no.real
    b=self.imaginary+no.imaginary
    return complex(a,b)
  def __sub__(self,no):
    a=self.real-no.real
    b=self.imaginary-no.imaginary
    return complex(a,b)
  def __mul__(self,no):
    a=self.real*no.imaginary-self.imaginary*no.imaginary
    b=self.real*no.imaginary+self.imaginary*no.real
    return complex(a,b)
  def __truediv__(self,no):
    a=(self.real*no.real+self.imaginary*no.imaginary)/(math.pow(no.real,2)+math.pow(no.imaginary,2))
    b=(self.imaginary*no.real-self.real*no.imaginary)/(math.pow(no.real,2)+math.pow(no.imaginary,2))
    return complex(a,b)
  def mod(self):
    return math.sqrt(math.pow(self.real,2)+math.pow(self.imaginary,2))
  def __str__(self):
    if self.imaginary==0:
      return f"{self.real:.2f}+i0.00"
    elif self.real==0:
      if self.imaginary>0:
        return f"0.00+i{self.imaginary:.2f}"
      elif self.imaginary<0:
        return f"0.00-i{abs(self.imaginary):.2f}"
    else:
      if self.imaginary>0:
        return f"{self.real:.2f}+i{self.imaginary:.2f}"
      elif self.imaginary<0:
        return f"{self.real:.2f}-i{abs(self.imaginary):.2f}"

if __name__=='__main__':
  c1=map(float,input().split(" "))
  c2=map(float,input().split(" "))
  c3=complex(*c1)
  c4=complex(*c2)
  print(*map(str,[c3+c4,c3-c4,c3/c4,c3*c4,c3.mod(),c4.mod()]),sep="\n")

2 1
5 6
7.00+i7.00
-3.00-i5.00
0.26-i0.11
6.00+i17.00
2.23606797749979
7.810249675906654

In [ ]:
import math
math.pow(3,2)

9.0

In [ ]:
import math
math.sqrt(9)

3.0

In [ ]:
import math
abs(-3)

3

In [ ]:
a12=[1,2,3]
print(*a12)

1 2 3

In [ ]:
def kanu(a,b):
  return a*b
kanu(*[1,2])
#hence we should just remeber one thing that func(*[1,2]) would unpack the list as func(1,2) as seperate arguments within the function

2

In [ ]:
def func1(a):
  return a**2

print(*map(func1,[1,2,3,4]))

1 4 9 16

In [ ]:
def func1(a):
  return a**3
print(*map(func1,[1,2,3,4]),sep="\n")

1
8
27
64

In [ ]:
def func3(a):
  return a**4
kanu(*map(func3,[3,4]))
#as you can see, even a map object gets passed as function arguments when you unpack that within a function with *

20736

In [ ]:
import math
class complex1:
  def __init__(self,real,imaginary):
    self.real,self.imaginary=real,imaginary
  def __add__(self,no):
    a=self.real+no.real
    b=self.imaginary+no.imaginary
    return complex1(a,b)
  def __sub__(self,no):
    a=self.real-no.real
    b=self.imaginary-no.imaginary
    return complex1(a,b)
  def __mul__(self,no):
    a=(self.real*no.real-self.imaginary*no.imaginary)
    b=(self.real*no.imaginary+self.imaginary*no.real)
    return complex1(a,b)
  def __truediv__(self,no):
    a=(self.real*no.real+self.imaginary*no.imaginary)
    a/=(math.pow(no.real,2)+math.pow(no.imaginary,2))
    b=(self.imaginary*no.real-self.real*no.imaginary)
    b/=(math.pow(no.real,2)+math.pow(no.imaginary,2))
    return complex1(a,b)
  def mod(self):
    a=math.sqrt(math.pow(self.real,2)+math.pow(self.imaginary,2))
    b=0
    return complex1(a,b)
  def __str__(self):
    if self.imaginary==0:
      return f"{self.real:.2f}+i0.00"
    elif self.imaginary>0:
      return f"{self.real:.2f}+i{self.imaginary:.2f}"
    elif self.imaginary<0:
      return f"{self.real:.2f}-i{abs(self.imaginary):.2f}"
if __name__=='__main__':
  c1=map(float,input().split(" "))
  c2=map(float,input().split(" "))
  c3=complex1(*c1)
  c4=complex1(*c2)
  print(*map(str,[c3+c4,c3-c4,c3*c4,c3/c4,c3.mod(),c4.mod()]),sep="\n")

2 1
5 6
7.00+i7.00
-3.00-i5.00
4.00+i17.00
0.26-i0.11
2.24+i0.00
7.81+i0.00

In [ ]:
import math
class point:
  def __init__(self,x,y,z):
    self.x=x
    self.y=y
    self.z=z
  def __sub__(self,no):
    return point(self.x-no.x,self.y-no.y,self.z-no.z)
  def cross(self,no):
    a=self.y*no.z-self.z*no.y
    b=self.z*no.x-self.x*no.z
    c=self.x*no.y-self.y*no.x
    return point(a,b,c)
  def dot(self,no):
    return self.x*no.x+self.y*no.y+self.z*no.z
  def absolute(self):
    return math.sqrt(math.pow(self.x,2)+math.pow(self.y,2)+math.pow(self.z,2))

if __name__=='__main__':
  point2=list()
  for i in range(4):
    a1=list(map(float,input().split()))
    point2.append(a1)
  a,b,c,d=point(*point2[0]),point(*point2[1]),point(*point2[2]),point(*point2[3])
  x1=(b-a).cross(c-b)
  y1=(c-b).cross(d-c)
  a2=math.acos(x1.dot(y1)/(x1.absolute()*y1.absolute()))
  print(f"{math.degrees(a2):.2f}")

0 4 5
1 7 6
0 5 9
1 7 2
8.19

In [ ]:
import math
class point4:
  def __init__(self,x,y,z):
    self.x=x
    self.y=y
    self.z=z
  def __sub__(self,no):
    return point4(self.x-no.x,self.y-no.y,self.z-no.z)
  def dot(self,no):
    return self.x*no.x+self.y*no.y+self.z*no.z
  def cross(self,no):
    a=self.y*no.z-self.z*no.y
    b=self.z*no.x-self.x*no.z
    c=self.x*no.y-self.y*no.x
    return point4(a,b,c)
  def absolute(self):
    return math.sqrt(math.pow(self.x,2)+math.pow(self.y,2)+math.pow(self.z,2))
if __name__=='__main__':
  p1=list()
  for i in range(4):
    k1=list(map(float,input().split()))
    p1.append(k1)
  a,b,c,d=point4(*p1[0]),point4(*p1[1]),point4(*p1[2]),point4(*p1[3])
  x1=(b-a).cross(c-b)
  y1=(c-b).cross(d-c)
  angle=math.acos(x1.dot(y1)/(x1.absolute()*y1.absolute()))
  print(f"{math.degrees(angle):.2f}")

0 4 5
1 7 6
0 5 9
1 7 2
8.19

In [ ]:
from itertools import product
l=[1,2,3]
print(list(product(*l)))

TypeError: ignored

In [ ]:
from itertools import product

x, n = map(int, input().split())
print(x,n)
l = [list(map(lambda y: (int(y)**2)%n, input().split()))[1:] for i in range(x)]
print(l)
bestes = [sum(el)%n for el in product(*l)]
print(bestes)
print(max(bestes))

3 1000
3 1000
2 5 4
3 7 8 9
5 5 7 8 9 10
[[25, 16], [49, 64, 81], [25, 49, 64, 81, 100]]
[99, 123, 138, 155, 174, 114, 138, 153, 170, 189, 131, 155, 170, 187, 206, 90, 114, 129, 146, 165, 105, 129, 144, 161, 180, 122, 146, 161, 178, 197]
206

In [ ]:
#diamond problem
def diam(n):
  for i in range(n):
    s=" ".join('*' for i in range(i+1))
    print(s.center(3*n-3,' '))
  for i in range(n-1,0,-1):
    s=" ".join('*' for k in range(i))
    print(s.center(3*n-3,' '))

diam(5)

     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [ ]:
def diam(n):
  for i in range(n):
    s=" ".join('*' for k in range(i+1))
    print(s.center(4*n-3,' '))
  for i in range(n-1,0,-1):
    s=" ".join('*' for j in range(i))
    print(s.center(4*n-3,' '))

diam(5)

        *
       * *
      * * *
     * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [ ]:
def diam1(n):
  for i in range(n):
    s="".join('*' for k in range(i+1))
    print(s)
  for i in range(n-1,0,-1):
    s="".join('*' for k in range(i))
    print(s)

diam1(5)

*
**
***
****
*****
****
***
**
*

In [ ]:
#Q15
def pythpow(N,p):
  if p==0:
    return 1
  else:
    return N*pythpow(N,p-1)

pythpow(2,4)

16

In [ ]:
#Q16
def kamb(namu:list):
  print(namu)

kamb(4)
#as you can so Type hinting(:list) is not necessary

4

In [ ]:
def kamb1(n:list):
  big=n[0]
  a2=0
  for index,item in enumerate(n):
    if item>big:
      big=item
      a2=index
  return a2,big

kamb1([1,2,3,4,5,100,6,7,8])

(5, 100)

In [ ]:
a=[1,2,3,4,5]
for i in enumerate(a):
  print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)

In [ ]:
#Reverse a integer
def reverser(num):
  s1=""
  n=num
  while n>0:
    dig=n%10
    s1+=str(dig)
    n=n//10
  k2=s1
  return k2
if __name__=='__main__':
  nb=int(input())
  l=reverser(nb)
  print(l)

125
521

In [ ]:
a1=51
a1//10

5

In [ ]:
a1%10

1

In [ ]:
def reverser2(num):
  it=0
  n1=num
  while n1>0:
    d1=n1%10
    it=it*10+d1
    n1=n1//10
  return it
if __name__=='__main__':
  a1=int(input())
  k=reverser2(a1)
  print(k)

125
521

In [ ]:
def kabhinakabhi(nbb)->float:
  return "msd"

kabhinakabhi("mss")

'msd'

In [ ]:
def kabhinakabhi(nbb:float) -> float:
  return "ullu"
kabhinakabhi("mss")
#-> float actually returns the expected return type

'ullu'

In [ ]:
def cel_t_far(n:float)->float:
  return (9*n)/5+32

if __name__=='__main__':
  a1=float(input())
  z=cel_t_far(a1)
  print(z)

17
62.6

In [ ]:
for j in range(int(input())):
  a,b=input().split()
  try:
    print(f"{int(input())/int(input())}")
  except ZeroDivisionError:
    print(f"Error code: Integer Division or modulo by zero ")
  except ValueError:
    print(f"Invalid literal for int() with base 10: '$'")

3
1 0
2 5
Invalid literal for int() with base 10: '$'
3 1
4 2
Invalid literal for int() with base 10: '$'

KeyboardInterrupt: ignored

In [ ]:
#Q20
for _ in range(int(input())):
  size=int(input())
  s1=list(map(int,input().split()))
  if s1[0]<max(s1[1:-1])>s1[-1]:
    print("No")
  else:
    print("Yes")

2
6
4 3 2 1 3 4
Yes
3
1 3 2
No

In [ ]:
for _ in range(int(input())):
  a1=int(input())
  a2=list(map(int,input().split()))
  if a2[0]<max(a2[1:-1])>a2[-1]:
    print("No")
  else:
    print("Yes")

2
6
4 3 2 1 3 4
Yes
3
1 3 2
No

In [ ]:
list1=[ [ '#' , 'o' , 'x' ] , [ '#' , '#' , 'o' ] , [ 'x' , '#' , 'o' ] ]
def print_board(p1:list):
  a1=[]
  for i in p1:
    if i=='#':
      a1.append(' ')
    else:
      a1.append(i)
  s="|".join(a1)
  print("\n")
if __name__=='__main__':
  print_board(list1)

TypeError: ignored

In [ ]:
sn=' '.join(str(a) for a in [1,2,3])
print(sn)

1 2 3

In [ ]:
list1=[ [ '#' , 'o' , 'x' ] , [ '#' , '#' , 'o' ] , [ 'x' , '#' , 'o' ] ]
def print_board(l1:list):
  s1=[]
  for i in l1:
    for k in i:
      if k=='#':
        s1.append(' ')
      else:
        s1.append(k)
    print('  |  '.join(s1))
    print("------------")
    s1=[]
print_board(list1)

   |  o  |  x
------------
   |     |  o
------------
x  |     |  o
------------

In [ ]:
#Q22
def mehwi(n1:list):
  for i in range(1,len(n1)-1):
    if int(n1[i-1])>int(n1[i])<int(n1[i+1]) or int(n1[i-1])<int(n1[i])>int(n1[i+1]):
      a=True
    else:
      a=False
      break
  if a:
    return True
  else:
    return False

if __name__=='__main__':
  a=['19284756242', '90909', '0909']
  for i in a:
    print(i,mehwi(i))

19284756242 True
90909 True
0909 True

In [ ]:
#Q22
def mehwi(n1:list):
  if len(n1)>2:
    for i in range(1,len(n1)-1):
      if int(n1[i-1])>int(n1[i])<int(n1[i+1]) or int(n1[i-1])<int(n1[i])>int(n1[i+1]):
        a1=True
      else:
        a1=False
        break
    if a1:
      return True
    else:
      return False
  else:
    return False

if __name__=='__main__':
  a=['86', '189', '88', '89', '91', '92', '93', '94', '95', '96', '97', '98', '99','101']
  for i in a:
    print(i,mehwi(i))

86 False
189 False
88 False
89 False
91 False
92 False
93 False
94 False
95 False
96 False
97 False
98 False
99 False
101 True

In [ ]:
def converte(n):
  print(f"{n} Bungs is worth {n*20} hoojim and {n*240} blinks")
if __name__=='__main__':
  converte(4)

4 Bungs is worth 80 hoojim and 960 blinks

In [ ]:
def enBlinkHoojaBung(n):
  a=int(n/240)
  a1=a*240
  b=int((n-a1)/20)
  b1=a1+b*20
  c=n-b1
  return f"{n} Blinks is worth {a} Bungs, {b} hoojim and {c} blinks"
if __name__=='__main__':
  d=enBlinkHoojaBung(506)
  print(d)

506 Blinks is worth 2 Bungs, 1 hoojim and 6 blinks

In [ ]:
def enBlink(n):
  a=int(n/240)
  a1=n-240*a
  b=int(a1/20)
  b1=a1-20*b
  c=n-(240*a+20*b)
  return(a,b,c)
if __name__=='__main__':
  d1=enBlink(506)
  print(d1)

(2, 1, 6)

In [ ]:
#Q26
#This is how you write a recursive function that would calculate sum of all the even numbers
def summer(n,total=0,i=2):
  if i>n:
    return total
  return summer(n, total=total+i,i=i+2)
if __name__=='__main__':
  k=summer(int(input()))
  print(k)

8
20

In [ ]:
#Q27
#This is how you write recursive function that would find the largest in a list
def biggest(n,largest=0,i=0):
  if i>=len(n):
    return largest
  elif largest<n[i]:
    c=n[i]
    return biggest(n,largest=n[i],i=i+1)
  return biggest(n,largest=c,i=i+1)

biggest([1,3,5,7,8,6,2])

0

In [ ]:
l1=[1,2,3]
if not l1:
  print("a")
else:
  print("b")

b

In [ ]:
l1=[]
if not l1:
  print("c")
else:
  print("d")
#as l1 is empty so if l1 would evaluate to if True and if not l1 would evaluate to if False

c

In [ ]:
#Q27
def smallest(n,minimum=None):
  if not n:
    return minimum
  elif minimum>n[0]:
    minimum=n[0]
  return smallest(n[1:],minimum)

smallest([3,4,5,1,2,9,11])

TypeError: ignored

In [ ]:
#To avoid the above error which we get at the very beginning, we code in this mannner
def smallest(n,minimum=None):
  if not n:
    return minimum
  elif minimum is None or minimum>n[0]:
    minimum=n[0]
  return smallest(n[1:],minimum)

smallest([3,4,5,1,2,9,11,7,6,8])

1

In [ ]:
def largest(n,maximum=None):
  if not n:
    return maximum
  elif maximum is None or maximum<n[0]:
    maximum=n[0]
  return largest(n[1:],maximum)
largest([3,4,5,1,2,9,11,7,6,8])

11

In [ ]:
#Q28
def muller(n,muli=1,i=0):
  if i>=len(n):
    return muli
  return muller(n,muli=muli*n[i],i=i+1)

if __name__=='__main__':
  aj=muller([3,4])
  print(aj)

12

In [ ]:
#26
def adder(n,sum=0,i=0):
  if i>=len(n):
    return sum
  return adder(n,sum=sum+n[i],i=i+1)
if __name__=='__main__':
  aj1=adder([3,4])
  print(aj1)

7

In [ ]:
#26 Sum of all numbers at even index positions
def addeven(n,sum1=0,i=0):
  if i>=len(n):
    return sum1
  return addeven(n,sum1=sum1+n[i],i=i+2)
if __name__=='__main__':
  aj2=addeven([3,4,5,7,9,11,14,1,99,32])
  print(aj2)

31

In [ ]:
#27 Minimum number in a list
def miner(n,min=None):
  if not n:
    return min
  elif min is None or min>n[0]:
    min=n[0]
  return miner(n[1:],min)
if __name__=='__main__':
  aj3=miner([3,4,5,7,9,11,14,1,99,32])
  print(aj3)

1

In [ ]:
def maxer(n,maxxer=None):
  if not n:
    return maxxer
  elif maxxer is None or maxxer<n[0]:
    maxxer=n[0]
  return maxer(n[1:],maxxer)
if __name__=='__main__':
  aj4=maxer([3,4,5,7,9,11,14,99,1,32])
  print(aj4)

99

In [ ]:
def muller(n,muli=1,i=0):
  if i>=len(n):
    return muli
  return muller(n,muli=muli*n[i],i=i+1)
if __name__=='__main__':
  k1=muller([3,4,5,8])
  print(k1)

480

In [ ]:
def mylen(n,lgo=0):
  if not n:
    return lgo
  return mylen(n[1:],lgo=lgo+1)
if __name__=='__main__':
  a12=mylen([1,3,4,5,6,7,99])
  print(a12)

7

In [ ]:
list(map(lambda x:x*2,[a for a in range(1,101)]))
#this is how you use map and lambda function to convert a list of 1 to 100 to a list of 2 to 200

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200]

In [ ]:
list(filter(lambda a:a%2!=0,[a for a in range(101)]))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [ ]:
[a for a in range(0,101) if a%2!=0]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [ ]:
#This is how we write a generator function to print the factorial numbers
def generator_factorial():
  result=1
  i=1
  while True:
    result*=i
    yield i
    i+=1
ken=generator_factorial()
for i in range(10):
  print(next(ken))

1
2
3
4
5
6
7
8
9
10

In [ ]:
#A generator executes and produces the output everytime next method is executed, it only retains the state of the function till then
#This is how we create a generator function to print factorials
def gen_functor():
  result=1
  i=1
  while True:
    result*=i
    yield result
    i+=1
ken1=gen_functor()
for i in range(10):
  print(next(ken1))
print(type(ken1))
#when next is executed the first term gets printed, when next is executed again then next term gets printed, the state of the function is retained in case of a generator even after
#the execution of yield statement.

1
2
6
24
120
720
5040
40320
362880
3628800
<class 'generator'>

In [ ]:
def func(m,n):
  func.calls+=1
  if m==0:
    return n+1
  elif m>0 and n==0:
    return func(m-1,1)
  elif m>0 and n>0:
    return func(m-1,func(m,n-1))
func.calls=0
func(2,3)
print(f"{func.calls}")
#if we want to know how many times a function has been recursively called, we can do that by using function attributes as seen above

44

In [ ]:
#Recursive implementation of palindrome function
def palin(s,index1=0,index2=-1):
  while True:
    if index1>=len(s):
      print("Palindrome")
      break
    elif s[index1]!=s[index2]:
      print("Not palindrome")
      break
    return palin(s,index1=index1+1,index2=index2-1)

palin("radar")

Palindrome

In [ ]:
def palin(s,index=0,index1=-1):
  while True:
    if index>=len(s):
      print("Palindrome")
      break
    elif s[index]!=s[index1]:
      print("Not palindrome")
      break
    return palin(s,index=index+1,index1=index1-1)
palin("madam")

Palindrome

In [ ]:
#assert statement ensures that a statement is true, if it is not then an assertionError exception is raised
def check_int(num):
  assert type(num)==type(0)
  return num*2

check_int(2)
# check_int("hello")

#type(0) means the type of 0, datatype of 0 which is int

4

In [ ]:
check_int("hello")

AssertionError: ignored

In [ ]:
import random
print(random.randint(1,100))

87

In [ ]:
#A dice class which has positive number of sides
import random
class dice:
  def __init__(self,sides):
    assert type(sides)==type(0)
    assert sides>0
    self.sides=sides
    self.generator=random
    self.current=1
  def roll(self):
    c1=self.generator.randint(1,self.sides+1)
    return c1

c21=dice(6)
c21.roll()

3

In [ ]:
#A dice class which always has positive number of sides
class dice:
  def __init__(self,sides):
    assert type(sides)==type(0)
    assert sides>0
    self.sides=sides
    self.generator=random
    self.current=1
  def roll(self):
    c1=self.generator.randint(1,self.sides)
    return c1
c11=dice(6)
c11.roll()

In [ ]:
# Write a class Account that stores the current balance, interest rate and account number of a bank account.
# Your class should provide methods to withdraw, deposit and add interest to the account.
# The user should only be allowed to withdraw money up to some overdraft limit. If an account goes overdrawn, there is fee charged.
class Account:
  interest=0.05
  overdraft_limit=300
  overdraft_fee=50
  def __init__(self,number):
    self.number=number
    self.balance=0
  def deposit(self,amount):
    if amount<0:
      raise ValueError("Can't deposit negative values")
    self.balance+=amount
  def withdraw(self,amount):
    if amount<0:
      raise ValueError("Can't withdraw negative numbers")
    elif amount>(self.balance+Account.overdraft_limit):
      raise ValueError("Not enough credit")
    elif amount>self.balance:
      self.balance-=amount
      self.balance-=Account.overdraft_fee
    else:
      self.balance-=amount
  def __str__(self):
    sep='--------------'
    s="\nAccount\n"+sep+'\n'
    s+="\nAccount Number:"+str(self.number)+"\n"
    s+="\nBalance:"+str(self.balance)+"\n"
    s+="\nOverdraft limit:"+str(Account.overdraft_limit)+"\n"
    s+="\nOverdraft fee:"+str(Account.overdraft_fee)+"\n"
    return s

acc = Account("123456789")

print(acc.deposit(300))  # Deposit $300
print(acc.withdraw(700))  # Try to withdraw $700 (exceeds overdraft limit)
print(acc)

None

ValueError: ignored

In [ ]:
acc1=Account("84370")
acc1.deposit(400)
acc1.withdraw(300)
print(acc1)

Account
--------------

Account Number:84370

Balance:100

Overdraft limit:300

Overdraft fee:50

In [ ]:
acc2=Account("88235")
acc2.deposit(400)
acc2.withdraw(500)
print(acc2)

Account
--------------

Account Number:88235

Balance:-150

Overdraft limit:300

Overdraft fee:50

In [ ]:
class Account1:
  interest=0.5
  overdraft_limit=300
  overdraft_fee=50
  def __init__(self,number):
    self.account_number=number
    self.balance=0
  def deposit(self,amount):
    if amount<0:
      raise ValueError("Cn't deposit negative numbers")
    self.balance+=amount
  def withdraw(self,amount):
    if amount<0:
      raise ValueError("Can't withdraw negative numbers")
    elif amount>(self.balance+Account1.overdraft_limit):
      raise ValueError("Not enough credit")
    elif amount>self.balance:
      self.balance-=amount
      self.balance-=Account1.overdraft_fee
    else:
      self.balance-=amount
  def __str__(self):
    sep="-------------"
    s="\nAccount\n "+sep+"\n"
    s+="\nAccount number: "+str(self.account_number)+"\n"
    s+="\nOverdraft limit: "+str(Account1.overdraft_limit)+"\n"
    s+="\nOverdraft fee: "+str(Account1.overdraft_fee)+"\n"
    s+="\nBalance: "+str(self.balance)+"\n"
    return s
acc = Account1("123456789")

print(acc.deposit(300))  # Deposit $300
print(acc.withdraw(700))  # Try to withdraw $700 (exceeds overdraft limit)
print(acc)

None

ValueError: ignored

In [ ]:
acc1=Account1("84370")
acc1.deposit(400)
acc1.withdraw(300)
print(acc1)

Account
 -------------

Account number: 84370

Overdraft limit: 300

Overdraft fee: 50

Balance: 100

In [ ]:
acc2=Account1("88235")
acc2.deposit(400)
acc2.withdraw(500)
print(acc2)

Account
 -------------

Account number: 88235

Overdraft limit: 300

Overdraft fee: 50

Balance: -150

In [ ]:
#this is how we make account in another way
class account1:
  def __init__(self,number,account=0,fee=50,limit=300):
    self.account_number=number
    self.balance=account
    self.overdraft_fee=fee
    self.overdraft_limit=limit
  def deposit(self,amount):
    if amount<0:
      raise ValueError("Not valid value")
    self.balance+=amount
  def withdraw(self,amount):
    if amount<0:
      raise ValueError("Not valid value")
    elif amount>(self.balance+self.overdraft_limit):
      raise ValueError("Not enough credit")
    elif amount>self.balance:
      self.balance-=amount
      self.balance-=self.overdraft_fee
    else:
      self.balance-=amount
  def __str__(self):
    stem="---------------"
    s="Account \n"+stem+"\n"
    s+="Account number: "+str(self.account_number)+"\n"
    s+="Account Balance: "+str(self.balance)+"\n"
    s+="Overdraft fee: "+str(self.overdraft_fee)+"\n"
    s+="Overdraft limit: "+str(self.overdraft_limit)+"\n"
    return s
c11=account1("9933")
c11.deposit(500)
c11.withdraw(400)
print(c11)

Account
---------------
Account number: 9933
Account Balance: 100
Overdraft fee: 50
Overdraft limit: 300

In [ ]:
c12=account1("99033")
c12.deposit(1000)
c12.withdraw(1500)
print(c12)

ValueError: ignored

In [ ]:
c14=account1("mahendra")
c14.deposit(1000)
c14.withdraw(1100)
print(c14)

Account
---------------
Account number: mahendra
Account Balance: -150
Overdraft fee: 50
Overdraft limit: 300

In [ ]:
#Interpreted language directly executes the source code by interpreting it line by line whereas compiled language converts the entire source code into machine code before
#execution. In compiled language like C,C++, the source code is converted into machine code before execution.
#Source-code refers to human-readable instructions within a programming language like python, c++.

In [ ]:
#Runtime starts from the moment a program starts executing or starts running. Dynamic typing in python is used to refer to the ability of python interpreter to automatically deduce the
#type of variable during the runtime. It means you don nee dto explicitly declare the type of variables. Python interpreter deduces the type of the variable on its own using the value
#initialized to the variable.

In [ ]:
#In dynamically bound languages like the python, the determination of which method or function to be called during the runtime is based on the type of the object.
class animal:
  def sound(self):
    print("Make sound")
class Dog(animal):
  def sound(self):#The side method of Dog and Cat class over-rides the sound method of Animal object
    print("Bhow! Bhow")
class Cat(animal):
  def sound(self):
    print("Myau Myau")
def make_sound(animal):
  animal.sound()#The sound method is dynamically bound to the type of object
dog=Dog()
cat=Cat()
make_sound(dog)

Bhow! Bhow

In [ ]:
make_sound(cat)

Myau Myau

In [ ]:
#When dynamic binding is not present then static binding will ensure that the method to be called is determined and fixed during the compile time and not during the run time
#for example
#class shape(self):
#   def draw(self):
#       pass
#class circle(shape):
#    def draw(self):
#        print("Draw a circle")
#class square(shape):
#     def draw(self):
#         print("Draw a square")
#def make_dia(shape):
#     shape.draw()
#c=circle()
#s=square()
#make_dia(c)
#make_dia(s)
#here the behaviour is fixed during the declared type during compile time, static binding chooses method to be called based on declared type during the compile time. Hence even
#when you pass in square, the draw method of the circle class will be called because that is the type declared during the compile time.

In [ ]:
#Advantages of python are:
#It has easy to learn syntax and secondly it has characteristics like dynamic typic and dynamic binding.

In [ ]:
#Typing refers to type_checking in programming language. In a strongly typed programming language "1"+2 would result in a type error as implicit type conversion wont be allowed(like in python)
#whereas in a weakly typed programming language "1"+2 would result in "12"
#In a static typed language, the type-checking is done before execution whereas in dynamic typed language the type-checking is done during the execution and is determined by the value
#initialized to a variable.

In [ ]:
#Interpreted language
#In an interpreted language there is no intermediary compilation step involved, the source code is executed directly line by line(which makes dynamic typing and dynamic binding possible)
#Examples are R,PHP,Python,Javascript, Ruby

In [ ]:
#PEP(Python enhancement proposal)
#In order to contribute to the python open source community, you need to follow the guidelines set by python enhancement proposal.

In [ ]:
#A scope refers to the block of code where an object in python can be accessed. A namespace constitutes all objects and the variable referencing to them

In [ ]:
#ternary operator in python
#[on true] if [expression] else [on false]
a,b=10,12
print("Hello") if a>b else print("chalo")

chalo

In [ ]:
a,b=14,12
print("When") if a>b else print("Then")

When

In [ ]:
#isdigit() returns True if all the characters in the strings are digits from 0 to 9. It does not consider numeric characters from other languages
#or roman numerals.
#isnumeric() returns True if all the characters in the strings are numeric from any language. It does consider roman numerals and numerics from other
#languages.

In [ ]:
#isalnum() checks if the string consists of alphanumerics, isalpha() checks if the string consists of alphabets.

In [ ]:
a="mahendra"
print(a.isalpha())
print(a.isalnum())
print(a.isdigit())
print(a.isnumeric())
#in case of isalnum(), even if the string consists of only alphabets it will still hold True and even if the string consists of only numerics it will still
#hold True.

True
True
False
False

In [ ]:
a="mahendra1"
print(a.isalpha())
print(a.isalnum())
print(a.isdigit())
print(a.isnumeric())
#isalpha() holds True only if all the characters in string are strings, in this case one of the characters is digit hence we get the error

False
True
False
False

In [ ]:
print('123'.isnumeric())
print('123'.isalpha())
print('123'.isalnum())
print('123'.isdigit())
#isnumeric() returns True for all numeric values even if those numeric values belong to other languages or are subscripts or roman numerals

True
False
True
True

In [ ]:
print(''.isdigit())
print(''.isnumeric())
#isdigit() returns True for all the numeric values between 0 to 9 but it doesnot return True for numerics belonging to other languages
#isnumerics on the other hand returns True for numerics of all languages, Roman numerals, Arabic numerals, Indic numerals.

False
True

In [ ]:
s="abcdef"
n="123456"
print(chr(ord('a')+1))

b

In [ ]:
ord('a')

97

In [ ]:
s="abcdef"
n="123456"
s1=""
for i in range(len(s)):
  s1+=chr(ord(s[i])+int(n[i]))
print(s1)

bdfhjl

In [ ]:
#Another way of doing the above is
s="abcdef"
n="123456"
for i,z in zip(s,n):
  print(i,z)

a 1
b 2
c 3
d 4
e 5
f 6

In [ ]:
for k in zip(s,n):
  print(k)

('a', '1')
('b', '2')
('c', '3')
('d', '4')
('e', '5')
('f', '6')

In [ ]:
l1=zip(s,n)
print(list(l1))

[('a', '1'), ('b', '2'), ('c', '3'), ('d', '4'), ('e', '5'), ('f', '6')]

In [ ]:
print(s.find('e')) #It outputs the index at which 'e' has been found

4

In [ ]:
#If we have to circularly traverse across a string then we have to use the modulus operator(%)
S='zwhjnko'
N='3456789'
alphabet='abcdefghijklmnopqrstuvwxyz'
code=''
for k,m in zip(S,N):
  a=alphabet.find(k)
  code+=alphabet[(a+int(m))%26]
print(code)

campusx

In [ ]:
S='zwhjnko'
N='3456789'
alphabet='abcdefghijklmnopqrstuvwxyz'
code1=''
for k,m in zip(S,N):
  a=alphabet.find(k)
  code1+=alphabet[(a+int(m))%26]
print(code1)

campusx

In [ ]:
S='zwhjnko'
N='3456789'
alphabet='abcdefghijklmnopqrstuvwxyz'
code=''
for k,m in zip(S,N):
  a=alphabet.find(k)
  code+=alphabet[(a+int(m))%26]
print(code)

campusx

In [ ]:
#slicing is a technique that allows us to retrieve only a part of list, tuple or string
#[<int>:<int>:<int>]---->The first value denotes starting index, the second value denotes ending index(last excluded), the third denotes the
#jump value. If 2 is given then it will take a jump of 1 value.
a1="mahendrasingh"
a1[::2]
#here is a jump by 1, by default the value of jump is 1, if you make it negative, it will start moving from the opposite side.

'mhnrsnh'

In [ ]:
a1[::-1]

'hgnisardneham'

In [ ]:
a1[:10]#if the first value is not given, it will treat as if it starts from the start and ends at the 9th index. The 10th index is excluded.

'mahendrasi'

In [ ]:
print(a1[10])
print(a1[2:])#If the second value is not given, it will treat it as if it goes till the end, if the third value is not given then it will take
#every character.

n
hendrasingh

In [ ]:
print(a1[::-1])

hgnisardneham

In [ ]:
#In python / operator returns quotient
print(5/2)

2.5

In [ ]:
#// this operator on the other hand returns quotient in integer
print(5//2)

2

In [ ]:
list1=[1,2,3]
list2=[1,2,3]
list3=list1
print(id(list1))
print(id(list3))
#As we can see list3 is also passed the reference of the location of the object at which list1 is poinitng , this is what happens when you
#equate list3 with list1, a variable actually stores the reference of object(location at which object is stored). hence when list3=list1 then the
#reference is passed over to list3 as well

132599682056256
132599682056256

In [ ]:
"abc123".isalnum()

True

In [ ]:
"abc".isalnum()

True

In [ ]:
"123".isnumeric()

True

In [ ]:
print('123'.isnumeric())
print('123'.isdigit())

True
True

In [ ]:
print("123.15".isnumeric())
print("123.15".isdigit())

False
False

In [ ]:
print(''.isdigit())
print(''.isnumeric())
#isdigit() holds true for strings having digits, decimals, exponents of english language. isnumeric() holds True for strings containing digits
#of any language.

False
True

In [ ]:
S = "abcdef"
N = "123456"
aq="abcdefghijklmnopqrstuvwxyz"
l=""
for k,nn in zip(S,N):
  a1=aq.find(k)
  l+=aq[(int(nn)+a1)%26]
print(l)
#This is the best solution

bdfhjl

In [ ]:
S = "abcdef"
N = "123456"

In [ ]:
ord('a')

97

In [ ]:
print(chr(ord('a')+2))

c

In [ ]:
s='caaomupeufsqx'
print(s[1:4])
#index 4 is excluded and 1 is included.

aao

In [ ]:
s='caaomupeufsqx'
print(s[1:8:2])
#2 is jump index, we jump by 2 in this case over here. so 'a' is taken at first, 'o' is taken after that, 'u' is taken after that and 'e' is taken
#at last.

aoue

In [ ]:
print(5//2)
#5//2 returns quotient in int
print(5/2)
#5/2 returns quotient in float

2
2.5

In [ ]:
list1=[1,2,3]
list2=[1,2,3]
list3=list1
list1==list2

True

In [ ]:
list3 is list1
#As you can see list3 and list1 refers to the same list object in the memory and is checks whether 2 variables refer to the same list object
#else it returns False

True

In [ ]:
list3 is list2

False

In [ ]:
#Disadvantages of python
#The execution of python takes place with the help of interpreter rather than compiler in which the source code is executed line by line.
#Hence Python is slow.
#Python is an excellent language for server-side.
#Server-side language(Suppose you are using a social media page where you login your informations, the server side receives the data)
#It checks whether username and password matches to what is stored in the database.
#If they match, the server fetches your information, posts etc and sends them back to browser to display your profile-page.
#This cannot be used for Mobile App development.

In [ ]:
#In python, the list can contain elements of different data-types and it can change size dynamically. Python uses more memory to store additional information
#such as references, datatype information and overhead required for storing dynamic data structures.
#In C, arrays have a fixed size and contain elements only of a specific datatype. So unlike Python arrays in C donot consume additional overhead memory
#for dynamic allocation and additional type information.

In [ ]:
mine="hello, world"
print(id(mine[2]))
print(id(mine[3]))

135522646775920
135522646775920

In [ ]:
print(ord(mine[2]))
print(f"{ord(mine[2]):04}")
print(f"{ord(mine[4]):06X}")

108
0108
00006F

In [ ]:
#In Python, strings are a set of characters and each character is represented internally as a set of unicode code points.
#Each character references to a memory location where these unicode code points are stored for instance.
min2="hello, world"
print(id(min2[2]))
print(id(min2[3]))
#as you can see here min2[2] and min2[3] points at the same location where unicode code point of character 'l' is stored.

135192255158384
135192255158384

In [ ]:
#The Zen of Python is a collection of 19 guiding principles for writing computer programs.

In [ ]:
#The is and is not are identity operators that compare objects based on their identity, if identity is the same then True is returned else
#False is returned. If first variable var1 and another variable var2 refers to the same object then var1 is var2 returns True , when 2 variables
#refer to the same object then their id would be same as well, == is a equality operator and it checks if the objects to which 2 variables are
#pointing at has the same value

In [ ]:
a=2
b=2
a is b

True

In [ ]:
a=1000000
b=1000000
a is b

False

In [ ]:
a=240
b=240
a is b

True

In [ ]:
#Machine code is the lowest level programming language that directly corresponds to the instructions executed by the CPU.
#It consists of binary digits.
#Machine code is executed directly by the hardware without any translation or interpretation required.
#It is specific to the underlying hardware architecture.
#Bytecode
#Bytecode is generated by compiling a high-level language into a platform-independent format
#Bytecode is generated by compiling a high-level language into a platform-independent format.
#Bytecode is generated by compiling a high-level language into a platform independent format. It is not executed directly by the CPU but by software
#interpreter or runtime environment. Bytecode is platform-independent. It allows for programs written in high-level languages to be executed on any
#platform that has the appropriate bytecode interpreter or runtime environment.

In [ ]:
#In case of python, source code is first compiled into bytecode and is interpreted line by line by the CPython or JIT(just in time compiler).

In [ ]:
_=5
print(_)

5

In [ ]:
#The underscore _ is a also called throwaway or i don't care variable, in case you want to ignore a certain value.
#The throwaway/i don't care variables is often used to ignore certain values while unpacking
#The throwaway/i don't care _ variables is used when we ignore the index
a,_,c=(1,2,3)
print(a,c)

1 3

In [ ]:
for _ in range(5):
  print(_)

0
1
2
3
4

In [ ]:
#A module is a python file.
#A package has a collection of modules that work together to achieve a functionality. All these folders are present in a single folder and there exists
#a seperate __init__.py file within that folder to tell python that this is a package.

In [ ]:
print(0.3-0.2==0.1)
#Because computers donot compute in decimal but in binary.

False

In [ ]:
t1=0.1
result=0.3-0.2
print(abs(result))

0.09999999999999998

In [ ]:
#In python ~ this operator computes bitwise complement of a number. The easiest formula for this is for a number x the bitwise complement would be
#-x-1 and if 10 bit representation of 3 is 0000000011 then the bitwise complement for it would be 1111111100.

In [ ]:
#docstrings means the comments.

In [ ]:
#Mutability is when you can change the content of an object without changing its id

In [ ]:
a=[1,2,3]
print(id(a))
a.append(4)
print(id(a))
#as you can see the content of the object has been changed here without changing the id

134526532394496
134526532394496

In [ ]:
a=(1,2)
print(id(a))
a=a+(3,)
print(id(a))
print(a)
#when you change the content of the object, its id too gets changed and a now starts refering to a completely new memory location.

134526532401728
134526530802688
(1, 2, 3)

In [ ]:
a={[1,2],3,4}
print(a)

TypeError: ignored

In [ ]:
a={1,"dho",3,4}
#all the elements of set has to be immutable in nature, because they need to be hashable in nature, tuples are immutable but they can contain
#mutable items as elements. The keys in dictionary has to be immutable in nature because they have to be hashable.

In [ ]:
a=(1,2,[1,2])

In [ ]:
#Homogeneous data structures---->Data elements will be of the same datatype(eg. Array)
#Heterogeneous data structures---->Data elements may not be of the same datatype(eg. List,tuple,sets,dictionary)...in case of sets and dictionary
#only immutable datatypes can be elements and keys respectively because immutable datatypes are hashable in nature.

In [ ]:
o1=[1,2,3]
o1.extend(4)
print(o1)
#The argument of extend function has to be an iterable and each item of iterable is added to the o1 list

TypeError: ignored

In [ ]:
o1=[1,2,3]
o1.extend([4,5,6])
print(o1)

[1, 2, 3, 4, 5, 6]

In [ ]:
o1=[1,2,3]
o1.append([1,2,3])
print(o1)
o1.append([7,8,9])
print(o1)

[1, 2, 3, [1, 2, 3]]
[1, 2, 3, [1, 2, 3], [7, 8, 9]]

In [ ]:
o1=[1,2,3]
o1.insert(1,9)
print(o1)

[1, 9, 2, 3]

In [ ]:
#The element passed as an argument to the append function is added to the end of the list, only an iterable can be passed as an argument to the
#extend function. Every element of the iterable is added to the end of the list, insert function adds a specific element within the list at a specific index
#position. In case of append and insert function the list is increased by 1 and in case of extend function the increment in list is equal to the length of the
#iterable. The time-complexity of append function is of the order of O(1), the time-complexity of insert function is of the order of n...O(n) and time complexity
#of extend function is of the order of k O(k) where k is the length of the iterable.

In [ ]:
#An object with more than one reference is called aliased.
a=[1,2,3]
b=a
#now both b and a are pointing at the list object

In [ ]:
a1=[1,2,[3,4]]
a2=a1[:]
print(id(a1),id(a2))
print(id(a1[0]),id(a2[0]))
print(id(a1[2][0]))
print(id(a2[2][0]))
a2.append(41)
print(a1)
print(a2)
a2[2].append(91)
print(a1)
print(a2)

140300127362752 140300127359680
140301398393072 140301398393072
140301398393136
140301398393136
[1, 2, [3, 4]]
[1, 2, [3, 4], 41]
[1, 2, [3, 4, 91]]
[1, 2, [3, 4, 91], 41]

In [ ]:
a3=[11,22,[5,6]]
a4=a3.copy()
print(id(a3[2][0]))
print(id(a4[2][0]))

140462587003248
140462587003248

In [ ]:
a33=[11,22,[5,6]]
a44=a33.copy()
a44.append(91)
print(a33)
print(a44)
print(id(a33[2]))
print(id(a44[2]))
a44[2].append(88)
print(a44)
print(a33)
a44[2][0]=55
print(a33)
print(a44)
print(id(a33[0]),id(a44[0]),id(a33[1]),id(a44[1]),id(a33),id(a44))
a44[0]=912
print(a33,a44)
#as we can see when we clone using copy() or slicing [:] then we actually create a new object(as is clear by different ids of a33 and a44)
#but then all the references to the items are copied as well. Hence any change made to the immutable item(whose id is changed with the change in value of the object)
#is not reflected back to the original list as if any immutable object's value is changed, it changes the id too, on the other hand when you make changes
#to mutable object(like list) then the change is reflected back to the original list as well because any change made to the mutable item within a list
#changes the value of the mutable item within the original copy as well because a mutable item can be changed without any change in the respective id

[11, 22, [5, 6]]
[11, 22, [5, 6], 91]
140300127318080
140300127318080
[11, 22, [5, 6, 88], 91]
[11, 22, [5, 6, 88]]
[11, 22, [55, 6, 88]]
[11, 22, [55, 6, 88], 91]
140301398393392 140301398393392 140301398393744 140301398393744 140300127357184 140300127357440
[11, 22, [55, 6, 88]] [912, 22, [55, 6, 88], 91]

In [ ]:
#A program in python to delete the first element from a list
def dello(list):
  del list[0]

a=[1,2,3]
dello(a)
print(a)
#this is how you delete an element within a list using del list[0]

[2, 3]

In [ ]:
#Difference between tuple and list is that as lists are dynamic array(which involves extra overhead memory to accomodate new items) so it consumes more memory
#than tuples and secondly lists are mutable meaning that the value of the list object can be altered(while there id remains constant) but tuple is immutable

In [ ]:
a=(1,2)
print(id(a))
a=a+(4,)
print(id(a))
#as you can see even if you add a new element, it becomes a new object altogether and now the variable a is pointing to a completely new memory
#location altogether.

140300127054976
140300127049984

In [ ]:
a=1
b=2
a,b=b,a
print(a,b)

2 1

In [ ]:
#The map function applies a function to every item of an iterable and returns a map object. This map object can be passed to a list or set function
#to return a list or set.
a=list(map(lambda x:x**2,[1,2,3,4,5,6,7,8]))
print(a)

[1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
a11={2: 'Apple', 1:'Mango', 3:'Orange', 4:'Banana'}
print(sorted(a11))
print(type(sorted(a11)))
#sorted function returns the keys of a dictionary in sorted order within a list.

[1, 2, 3, 4]
<class 'list'>

In [ ]:
print(a11.keys())
print(type(a11.keys()))

dict_keys([2, 1, 3, 4])
<class 'dict_keys'>

In [ ]:
#sorted function sorts the iterable in ascending order and it returns a sorted list.
unsorted_list = [5, 2, 8, 1, 6]
sorted_list=sorted(unsorted_list)
print("Sorted list ",sorted_list)

Sorted list  [1, 2, 5, 6, 8]

In [ ]:
unsorted_tuple = (10, 4, 7, 3, 9)
sorted_tuple=sorted(unsorted_tuple)
print("Sorted tuple ",sorted_tuple)

Sorted tuple  [3, 4, 7, 9, 10]

In [ ]:
unsorted_string="python"
sorted_string=sorted(unsorted_string)
print(sorted_string)

['h', 'n', 'o', 'p', 't', 'y']

In [ ]:
unsorted_list1=[5,2,8,1,6]
sorted_list1=sorted(sorted(unsorted_list1),reverse=True)
print(sorted_list1)

[8, 6, 5, 2, 1]

In [ ]:
unsorted_list2=['Apple','Banana','Orange','Grapes']
sorted_list2=sorted(unsorted_list2,key=lambda x:x[0].lower())
print(sorted_list2)

['Apple', 'Banana', 'Grapes', 'Orange']

In [ ]:
input={2: 'Apple', 1:'Mango', 3:'Orange', 4:'Banana'}
sorted_list3=sorted(input)
print(sorted_list3)
for i in sorted_list3:
  print(i,input[i])

[1, 2, 3, 4]
1 Mango
2 Apple
3 Orange
4 Banana

In [ ]:
input2={2: 'Apple', 1:'Mango', 3:'Orange', 4:'Banana'}
sorted_list3=sorted(input.values())
print(sorted_list3)
print(input.items())
print(sorted(input.items()))
#automatically done on the basis of keys
print(sorted(input.items(),key=lambda x:x[1]))
#key is used to point out the basis on which the sorting is done and it is sorted in ascending order, if you want to change it to descending
#then you also have to mention reverse=True

['Apple', 'Banana', 'Mango', 'Orange']
dict_items([(2, 'Apple'), (1, 'Mango'), (3, 'Orange'), (4, 'Banana')])
[(1, 'Mango'), (2, 'Apple'), (3, 'Orange'), (4, 'Banana')]
[(2, 'Apple'), (4, 'Banana'), (1, 'Mango'), (3, 'Orange')]

In [ ]:
a=0
b=1
print('01',end='')
for i in range(20):
  sm=(a+b)%3
  print(sm,end='')
  a=b
  b=sm

0112022101120221011202

In [ ]:
dict1 = {"volvo":"car", "benz":"car", "yamaha":"bike", "hero":"bike"}
print(dict1.items())

dict_items([('volvo', 'car'), ('benz', 'car'), ('yamaha', 'bike'), ('hero', 'bike')])

In [ ]:
dict2={}
for a,b in dict1.items():
  if b in dict2:
    dict2[b].append(a)
  else:
    dict2[b]=[a]
print(dict2)

{'car': ['volvo', 'benz'], 'bike': ['yamaha', 'hero']}

In [ ]:
dict2={}
for a,b in dict1.items():
  try:
    dict2[b].append(a)
  except KeyError:
    dict2[b]=[a]
print(dict2)

{'car': ['volvo', 'benz'], 'bike': ['yamaha', 'hero']}

In [ ]:
num1='1001'
num2 = '1001101'
print('num1--->',int(num1,2))
print('num2--->',int(num2,2))
#int(num1,2) interprets num1 as a binary string and converts it into an integer using base 2
#int(num2,2) interprets num2 as a binary string and converts it into an integer using base 2

num1---> 9
num2---> 77

In [ ]:
num1='1001'
num2='1001101'
print('num1--->',int(num1,2))
print('num2--->',int(num2,2))
#int(num1,2) interprets num1 as a binary string and converts it into an integer using base 2
#int(num2,2) interprets num2 as a binary string and converts it into an integer using base 2

num1---> 9
num2---> 77

In [ ]:
num1='1001'
num2='1001101'
print('num1--->',int(num1,2))
print('num2--->',int(num2,2))
#int(num1,2) identifies num1 as a binary string and converts it into integer using base 2
#int(num2,2) identifies num2 as a binary string and converts it into integer using base 2

num1---> 9
num2---> 77

In [ ]:
a1=12.345
print(f"{a1}")

12.345

In [ ]:
print(f"{a1:.9f}")

12.345000000

In [ ]:
a2=3
print(f"{a2:b}")

11

In [ ]:
a21=11
print(f"{a21:b}")
#you represent any number as float using f"{a1:.2f}(float having 2 decimal places) and to represent something in binary we use f"{a:b}

1011

In [ ]:
#python programme to add 2 binary nnumbers
num1="1001"
num2="1001101"
print("num1--->",int(num1,2))
print("num2--->",int(num2,2))
res=int(num1,2)+int(num2,2)
print(f"{res:b}")

num1---> 9
num2---> 77
1010110

In [ ]:
#Python programme that takes in a list of numbers as input and outputs the next number
a=[1,2,3,4]
print("".join(a))

TypeError: ignored

In [ ]:
a1=['a','b','c','d']
print("".join(a1))
#as you can see join works only when all items of the list are strings

abcd

In [ ]:
a2=['a','b',3,'d']
print("".join(a2))

TypeError: ignored

In [ ]:
a11=[1,2,3,4]
a2=list(map(int,list(str(int("".join(map(str,a11)))+1))))
print(a2)
#A python program that takes a list of numbers and output the next number for example in this case it intakes list [1,2,3,4] and outputs list
#[1,2,3,5]

[1, 2, 3, 5]

In [ ]:
a11=[9,9,9]
a22=list(map(int,list(str(int("".join(map(str,a11)))+1))))
print(a22)
#As every item of the list is integer, so all the items needs to be first converted into string to be combined into a single string using
#join, after that that string is converted into integer and incremented by 1 and then that incremented integer is converted back into string and then list
#but we get this list ['1','0','0','0'], now we have to convert every item of the list into a string and we do that using map function again where
#map(function,iterable) and function is now applied on every item of the iterable. Here we will use int function to be applied on the list

[1, 0, 0, 0]

In [ ]:
from datetime import datetime
right_now=datetime.now()
print(right_now)

2023-12-04 12:02:43.409050

In [ ]:
datetime.strptime('2023-12-04','%Y-%m-%d').strftime("%d:%m:%y")
#strptime is string parse time. It takes a string object and converts into a datetime object in a specified format
#strftime means string format time. It formats a datetime object into string format based on the specifid notation

'04:12:23'

In [ ]:
datetime.strptime('2023-12-04','%Y-%m-%d').strftime('%d-%m-%y')
#strptime is string parse time. It takes a string object and converts into a datetime object in a specified format
#strftime is string format time. It takes a datetime object and converts into a string format object in a specified format.

'04-12-23'

In [ ]:
datetime.strptime('2023-12-04','%Y-%m-%d').strftime('%d-%m-%Y')
#strptime is string parse time. It takes in string object and converts it into a datetime object in a specified format.
#strftime is string format time. It takes in a datetime object and converts it into string format object in a specified format.

'04-12-2023'

In [ ]:
import re
text="aaaabbbbccccddddabbbbbcdddabbbb"
pattern="ab{4,8}"
a=re.search(pattern,text)
print(a.group())
print(a)
b=re.findall(pattern,text)
print(b)

abbbb
<re.Match object; span=(3, 8), match='abbbb'>
['abbbb', 'abbbbb', 'abbbb']

In [ ]:
import re
text='abcdefghijklmahendrasinghdhoni'
pattern='ab{3,8}'
a=re.search(pattern,text)
print(a)
#if no matching is found then if we do a.group(), we get error else if matching is found then a.group() would fetch the matching element.

None

In [ ]:
import re
text='abbcddffoulkjhabbbhjuioabbbbdf'
def match_data(txt_data):
  if re.search('ab{3,8}',text):
    return 'Match Found'
  else:
    return 'No Match found'
match_data(text)

'Match Found'

In [ ]:
import re
def match_data(txt_data):
  if re.search('ab{3,8}',text):
    return 'Match Found'
  else:
    return 'No Match Found'
match_data(text)
#pattern 'ab{3,8}' means a pattern which has a single 'a' followed by 3 to 8 'b'. If this pattern matches then 'Match found' is returned else
#'No Match Found' is returned. If no match is found then re.search('ab{3,8},text) returns None.

'Match Found'

In [ ]:
#XOR returns 1 if and only if exactly one of your input values is 1.

In [ ]:
a=1
print(a<<1)
print(a>>1)

2
0

In [ ]:
#how to add 2 numbers without + operator
num1=2
num2=10
while num2!=0:
  data=num1&num2
  num1=num1^num2
  num2=data<<1
print(num1)

12

In [ ]:
num1=2
num2=10
while num2!=0:
  data=num1&num2
  num1=num1^num2
  num2=data<<1
print(num1)

12

In [ ]:
#A sequence of numbers are taken and checked if any duplicates are present or not
def check_duplicates(stren):
  if len(stren)==len(set(stren)):
    return True
  else:
    return False
check_duplicates([3,5,7,9])

True

In [ ]:
check_duplicates([3,5,7,7,9])

False

In [ ]:
#set doesnot take duplicates, secondly all the items in the set needs to be hashable and hence all the items in the set are immutable.

In [ ]:
import copy
a=[1,2,[3,4]]
b=copy.deepcopy(a)
print(id(a[0]),id(b[0]))
print(id(a[2]),id(b[2]))
print(id(a[1]),id(b[1]))
print(id(a),id(b))

140483530932464 140483530932464
140482258239040 140482258263744
140483530932496 140483530932496
140482258235904 140482258260480

In [ ]:
a1=[1,2,[3,4]]
b1=a1.copy()
print(id(a1[0]),id(b1[0]))
print(id(a1[2]),id(b1[2]))
print(id(a1[1]),id(b1[1]))
print(id(a1),id(b1))
#As can be seen in shallow copy, reference of the nested object is passed as it is as a result of which any change in nested object present
#within the new object is reflected back to old object as well but in case of deep copy as we can see the reference of the nested object within the old object
#and reference of the nested object within the new object is completely different. Hence any change made to the nested object within new object is not
#reflected by the old object.

140483530932464 140483530932464
140482258259648 140482258259648
140483530932496 140483530932496
140482259921664 140482259854464

In [ ]:
#Advantage of deep copy is as shown below
import copy
a1=[1,2,[3,4]]
b1=copy.deepcopy(a1)
b1[2].append(91)
print(a1)
print(b1)
#As you can see any change made to the nested object of the new object is not reflected back to the nested object present within the old object
#as references of both the nested objects are different.

[1, 2, [3, 4]]
[1, 2, [3, 4, 91]]

In [ ]:
import copy
a1=[1,[2,3],[4,[5,6]]]
b1=copy.deepcopy(a1)
print(id(a1[2][1]))
print(id(b1[2][1]))
print(a1[2][1],b1[2][1])
#As you can see, copying something recursively means creating copies(new objects) not just of the original object but also of the nested objects
#inside that object and also of the nested object within the nested object.

140482258383488
140482258379968
[5, 6] [5, 6]

In [ ]:
#Deep copying involves recursive copying(creating a copy not just of the object but also of the nested object existing within). Shallow copying
#involves copying just the object not the nested objects within, all the references existing in the original object are copied in case of shallow
#copying as it is.

In [ ]:
#Lambda functions in python are small, anonymous, single-use function. The lambda functions can have any number of arguments  but only 1 expression
#an example of this
list(map(lambda x:x*2,[1,2,3,4,5,6,7,8]))

[2, 4, 6, 8, 10, 12, 14, 16]

In [ ]:
#decorator in python adds extra functionality to an already existing function
def divider(first,second):
  print("The output is ",first/second)

divider(16,4)

The output is  4.0

In [ ]:
divider(4,16)

The output is  0.25

In [ ]:
divider(16,4)
#as you can see in this case if you swap the arguments then you are getting a different answer, hence to avoid this we use decorators.

The output is  4.0

In [ ]:
def swipe_decorator(func):
  def swiper(first,second):
    if first<second:
      first,second=second,first
    return func(first,second)
  return swiper

def divider(first,second):
  print(f"The division result is ",first/second)
divider=swipe_decorator(divider)
divider(16,4)
#The swipe_decorator(divider) function returns swiper, when divider(16,4) is called then swiper(16,4) is called and divider(16,4) is returned
#which is equivalent to 4.
# The swipe_decorator(divider) function returns swiper, when divider(4,16) is called then swiper(4,16) is called and divider(16,4) is returned
#again which is equivalent to 4

The division result is  4.0

In [ ]:
divider(4,16)

The division result is  4.0

In [ ]:
def swipe_decorator1(func):
  def swiper(first,second):
    if first<second:
      first,second=second,first
    return func(first,second)
  return swiper

@swipe_decorator1
def divider(first,second):
  print("The result is ",first/second)
divider(4,16)

The result is  4.0

In [ ]:
divider(16,4)
#As you can see this is another way of using decorators using @swipe_decorator1

The result is  4.0

In [ ]:
#This is how we determine if a class is subclass of another class.
class abc:
  pass
class pqr(abc):
  pass
print(issubclass(abc,pqr))
print(issubclass(pqr,abc))
#issubclass(abc,pqr) returns False because abc is not a subclass of pqr but issubclass(pqr,abc) returns True as pqr is indeed a subclass of abc.

In [ ]:
#Method resolution order(MRO).A class inherits from multiple classes under multiple inheritance. If we attempt to access a method by building
#an object from the child class then the method is first searched for in the child class and if it is not found in the child class then it is searched
#for in the classes from left to the right in the order of inheritance.
class father:
  def __init__(self):
    print("This is constructor of father class")
  def show():
    print("Come on")
d1=father()
d1.show()
#The argument self is used to make

This is constructor of father class

TypeError: ignored

In [ ]:
class mnb:
  def __init__(self,a):
    self.a=a
    print("kaun hai bey ")
  def make_b(self,b):
    self.b=b
    print("hum hoon make_b ",self.a)
  def make_c(self,c):
    self.c=c
    print("hum hoon make_c ",self.b)

c1=mnb(22)
c1.make_c(24)

kaun hai bey

AttributeError: ignored

In [ ]:
c2=mnb(23)
c2.make_b(25)
c2.make_c(27)
#AS you can see self also helps in inta-class communication.

kaun hai bey
hum hoon make_b  23
hum hoon make_c  25

In [ ]:
#When you define a method within a class and want that method to access and modify the instance variables specific to a class then we use the
#self parameter. This parameter refers to specific instance of class and allows access to its attributes and methods.

In [ ]:
#This parameter helps to differentiate between instance attributes and local attributes. self is a reference to the instance of the class and
#and allows the instance of class to access methods and acess and modify instance attributes

In [ ]:
class miner:
  clss_vl1=25
  @staticmethod
  def kambal(x):
    print(miner.clss_vl1)
    return x**3
miner.kambal(9)

25

729

In [ ]:
class miner1:
  clss_vl1=299
  @staticmethod
  def kumfu(cls):
    print(cls.clss_vl1)
miner1.kumfu()
#as we can see that we cannot access class variables from static methods using cls or self argument. Although we can access the class variables
#using class name, we cannot access it using parameters

TypeError: ignored

In [ ]:
class mahindra:
  clss_vr1=100
  @classmethod
  def miner1(cls):
    print(mahindra.clss_vr1)
  def ramn(self):
    print("who is great")

mahindra.miner1()

100

In [ ]:
#instance methods can access class variables as well as instance variables, instance methods can be called by the instanc of class(i.e objects) not by class itself
#class methods can access only class variables not instance variables, class methods can be accessed both by class as well as by the instances of class
#static method can access only class variables, static methods can be accessed by both class as well as instance of class
#Lastly class methods use decorator called @classmethod, static method too use decorators @staticmethod but instance methods donot use decorators

In [ ]:
class rambo:
  def kamin(self):
    print("jumbo")
rambo.kamin()

TypeError: ignored

In [ ]:
mns=mahindra()
mns.miner1()

100

In [ ]:
mahindra.ramn()
#

TypeError: ignored

In [ ]:
s w

In [ ]:
class miner:
  clss_vl1=25
  @staticmethod
  def kambal(x):
    print(miner.clss_vl1)
    return x**3
d1=miner()
d1.kambal(18)

25

5832

In [ ]:
class father:
  cls_v1=100
  def __init__(self):
    print("This is constructor of father class")
  def show():
    cls_v1+=1
    print(cls_v1)
    print("what show")

father.show()

UnboundLocalError: ignored

In [ ]:
c=father()
c.show()

This is constructor of father class

TypeError: ignored

In [ ]:
class father:
  cls_v1=100
  def __init__(self):
    print("This is constructor of father class")
  def show():
    father.cls_v1+=1
    print(father.cls_v1)
    print("what show")
father.show()
#This shows why you should use self in the argument to call a method using instances of the objects as well else you can call the method
#only by using classes

101
what show

In [ ]:
class father:
  def __init__(self):
    print("This is father constructor")
  def show(self):
    print("This is father show method")
  def uno(self):
    print("This is father's uno method")
  def father_uno(self):
    print("This is father's father_uno method")
class mother:
  def __init__(self):
    print("This is mother's constructor")
  def show(self):
    print("This is mother's show method")
  def uno(self):
    print("This is mother's uno method")
  def mother_uno(self):
    print("This is mother's mother_uno method")
class child(father,mother):
  def __init__(self):
    print("This is child's constructor")
  def show(self):
    print("This is child's show method")
  def child_uno(self):
    print("This is child's child_uno method")
c11=child()
c11.child_uno()

This is child's constructor
This is child's child_uno method

In [ ]:
c11.uno()

This is father's uno method

In [ ]:
c11.show()

This is child's show method

In [ ]:
c11.father_uno()

This is father's father_uno method

In [ ]:
c11.mother_uno()
#as u can see if a method is present in child class then it will get executed first, else if the method being called is not present in child class
#but is present both in the father(which is on the left) class and in the mother class(which is on the right) then method of the class on the left
#is executed. This is called Method resolution order.

This is mother's mother_uno method

In [ ]:
#_var is used to mean that a name is meant for internal use and is not meant for the public interface of the class.
#_var is used to mean that a name is meant for internal use and is not meant for public interface of the class. This is not enforced by python
#but is only used as a hint to the programmer.

In [ ]:
class jumbo:
  def __init__(self):
    self.a=12
    self._b=14
a1=jumbo()
a1.a

12

In [ ]:
a1._b
#single leading underscore is used to mean that a name is meant for internal use and is not meant for public interface of the class. This is not
#enforced by python but is only used as a hint to the programmer.

14

In [ ]:
class Test:
  def __init__(self):
    self.foo=18
    self._var=20
    self.__var1=22
class test2(Test):
  def __init__(self):
    self.foo=88
    self._var=21
c=test2()
c.foo

88

In [ ]:
c._var

21

In [ ]:
c.__var1
#as we can see double underscore before the name of the variable has prevented the attribute from being over-ridden by

AttributeError: ignored

In [ ]:
c._Test__var1

AttributeError: ignored

In [ ]:
obj = test2()
print(obj._Test__var1)  # Accesses the mangled name of __var1 from the Test class

AttributeError: ignored

In [ ]:
#as we can see when you use double underscore before a variable name then the attribute undergoes a name-change and this prevents collisions
#when the class is extended and this class becomes sub-class of other classes. This process of a variable undergoing name change is called name-mangling
#Name mangling prevents this variable being over-riddedn by any variable in the subclasses with the same name.

In [ ]:
#The interpreter changes the name of the variable in a way that makes it harder to prevent collisions when the class is extended any further.
#This is called name mangling and it happens when you use double underscore before the name of a variable.

In [ ]:
#Double underscore at the front of a variable and double underscore at the back of a variable are dunder methods(magic methods) that enable
#customization of a object.
class same:
  def __init__(self,value):
    self.value=value
  def __repr__(self):
    return f"same({self.value})"
  def __add__(self,other):
    return same(self.value+other.value)
  def __len__(self):
    return len(str(self.value))
c1=same(5)
print(c1)

same(5)

In [ ]:
c2=same(10)
c3=c1+c2
print(c3)
len(c3)

same(15)

2

In [ ]:
class baseclass:
  @staticmethod
  def staticmethod():
    return f"This is a static method"

c=baseclass()
c.staticmethod()

'This is a static method'

In [ ]:
c=baseclass.staticmethod()
print(c)
#As you can see a static method can be executed when we create an instance of the class as well as without creating an instance of the base class.

This is a static method

In [ ]:
class baserclass:
  def __init__(self,a,b):
    self.a=a
    self.b=b
  def sello(self):
    return "Who is he"
class baserclass2(baserclass):
  def __init__(self,a,d,e):
    self.a=a
    self.d=d
    self.e=e
  def ullo(self):
    return f"who is ullo {self.b}"
  def ullo2(self):
    return f"who is ullo2 {self.a}"

c1=baserclass2(1,2,3)
c1.sello()

'Who is he'

In [ ]:
#As you can see we can call a base method without creating an instance of the base class in 2 ways, firstly by creating a static method in the base class
#static method can be called even by using the class name, secondly by importing the base class into a child class we can call that base method using the
#instance of the child class.

In [ ]:
class acerclass1:
  cimon=24
  def __init__(self,value):
    self.value=value
  @classmethod
  def maniu(cls):
    return f"The value is {cls.cimon}"
c1=acerclass1(9)
acerclass1.maniu()
#this is also a way of calling a method without creating an instance

'The value is 24'

In [ ]:
c1.maniu()
#but a class method can also be called without a class instance

'The value is 24'

In [ ]:
class person:
  def __init__(self,first_name,last_name,age):
    self.first_name=first_name
    self.last_name=last_name
    self.age=age
  def __str__(self):
    return f"{self.first_name} {self.last_name} ({self.age})"
a=person("Mahendra","Dhoni",30)
print(a)
#This is how we can control how an object gets printed

Mahendra Dhoni (30)

In [ ]:
class dhamn:
  cl_amin=9
  def __init__(self,f_name,l_name,age):
    self.f_name=11
    self.l_name=14
    self.age=20
  def increment_age(self):
    self.age+=1
    self.change_name()
  def change_name(self):
    self.f_name="Amitabh"
  def classvarchanger(self):
    self.__class__.cl_amin+=1
c=dhamn("mahi",'singh',30)
c.increment_age()

In [ ]:
c.age

21

In [ ]:
c.f_name

'Amitabh'

In [ ]:
c.classvarchanger()

In [ ]:
c.cl_amin
#as you can see instance methods can access the state of the object as well as the state of the class and both the state of the object and
#state of the class can be changed using self(which is a reference to instance). As you can also see from above instance methods can also
#access other instance methods and also access the attributes.

10

In [ ]:
#A method is converted into class method by using a decorator @classmethod. A class method can change the state of the class but it cannot
#access the instance variables. Class method can access class variables but not instance variables.

In [ ]:
class Myclass:
  def method(self):
    return 'the method is ',self
  @classmethod
  def classer(cls):
    return 'This is a class method ',cls
  @staticmethod
  def minure():
    return 'This is a static method'

c1=Myclass()
c1.method()
#as you can see an object can call instance methods as well as class methods but upon calling instance method it returns the object and upon
#calling class method it returns class

('the method is ', <__main__.Myclass at 0x7f378f7613f0>)

In [ ]:
c1.classer()
#As we can see from here that class method doesnot have access to the instance object but only to the class object

('This is a class method ', __main__.Myclass)

In [ ]:
c1.miure()

AttributeError: ignored

In [ ]:
Myclass.classer()

('This is a class method ', __main__.Myclass)

In [ ]:
Myclass.method()

TypeError: ignored

In [ ]:
#class method only has access to the class object but instance method has access to the class instance object.

In [ ]:
#With @property decorator, we can access a attribute, delete it, change it without accessing an attribute directly. This provides a level of data security.

In [ ]:
class Rectangle:
  def __init__(self,height,width):
    self._height=height
    self._width=width
  @property
  def height(self):
    return self._height
  @property
  def width(self):
    return self._height
  @property
  def area(self):
    return self._height*self._width
  @height.setter
  def height(self,value):
    if value<0:
      raise ValueError("Value error is raised")
    self._height=value
  @width.setter
  def width(self,value):
    if value<0:
      raise ValueError("Value error is raised")
    self._width=value
c=Rectangle(5,10)
print(c.height)
print(c.width)
c.height=20
c.width=25
print(c.height)
print(c.width)
print(c.area)

5
5
20
20
500

In [ ]:
# Example of using a decorator with a class method taking self argument
def my_decorator(func):
    def wrapper(*args, **kwargs):
        print("Decorator executed")
        return func(*args, **kwargs)
    return wrapper

class MyClass:
    @my_decorator
    def my_method(self):
        print("Inside my_method")

# Creating an instance of MyClass
obj = MyClass()

# Calling the decorated method
obj.my_method()

Decorator executed
Inside my_method

In [ ]:
#The only limitation of decorator is that they need to be defined before the function it is decorating.

In [ ]:
with open('shambhu.txt','w') as f1:
  f1.write("""Who is dhoni?
              He is warrio
              jamal jamalo""")
with open('shambu1.txt','w') as f1:
  f1.write("""I see who you are?
  You are my enemy
  my enemy
  you are my enemy""")
with open('shambu2.txt','w') as f1:
  f1.write("""Who the black skinned one, don't make my heart bleed
  where did you go when i became crazy
  Beauty, your beauty....Your beautiful height
  Your heart is in the prizon of chest, sighs of rest it doesnot take
  """)

In [ ]:
files=['shambhu.txt','shambu1.txt','shambu2.txt']
with open('kashinath.txt','w') as f1:
  for a in files:
    with open(a) as f2:
      f23=f2.read()
      f1.write(f"Content fro {a} file\n")
      f1.write(f23)
      f1.write("\n\n")
#This is how we can open multiple files from python and copy their content within one text file

In [ ]:
#Amongst try, except, finally block the finally block executes irrespective of whether the try block is executed or not.

In [ ]:
lm=""
if lm:
  print("amin")
else:
  print("caffin")
#As you can "" or empty is false by default

caffin

In [ ]:
with open('kashinath.txt') as f2:
  while True:
    current=f2.tell()
    c1=f2.read(10)
    if not c1:
      break
    print("Till current ",current,c1)

Till current  0 Content fr
Till current  10 o shambhu.
Till current  20 txt file
W
Till current  30 ho is dhon
Till current  40 i?

Till current  50        He
Till current  60 is warrio

Till current  70
Till current  80     jamal
Till current  90 jamalo

Co
Till current  100 ntent fro
Till current  110 shambu1.tx
Till current  120 t file
I s
Till current  130 ee who you
Till current  140  are?
  Yo
Till current  150 u are my e
Till current  160 nemy
  my
Till current  170 enemy
  yo
Till current  180 u are my e
Till current  190 nemy

Cont
Till current  200 ent fro sh
Till current  210 ambu2.txt
Till current  220 file
Who t
Till current  230 he black s
Till current  240 kinned one
Till current  250 , don't ma
Till current  260 ke my hear
Till current  270 t bleed

Till current  280 where did
Till current  290 you go whe
Till current  300 n i became
Till current  310  crazy
  B
Till current  320 eauty, you
Till current  330 r beauty..
Till current  340 ..Your bea
Till current  350 utiful hei
Till current  360 ght
  Your
Till current  370  heart is
Till current  380 in the pri
Till current  390 zon of che
Till current  400 st, sighs
Till current  410 of rest it
Till current  420  doesnot t
Till current  430 ake

In [ ]:
#The yield keyword is used while defining generators. Generators processes one item at a time and doesnot load entire dataset in the memory
#at once hence this is more memory efficient especially in case of large datasets. Secondly, the state of the execution is preserved in case
#of generator even after yield function is executed unlike the case with function with the function is out from the global namespace after the
#return statement is executed.

In [ ]:
def fibbo():
  a,b=0,1
  while True:
    yield a
    a,b=b,a+b
a1=fibbo()
for _ in range(10):
  print(next(a1))
#as you can see even after yield statement is executed by print(next(a1)) the execution starts from the place where it was left when the control
#returns back inside the generator function, a,b gets adjusted and yield statement is executed further(this is quite unlike return in normal functions)
#where the function gets lost from the global namespace the moment return statement is executed. Secondly only

0
1
1
2
3
5
8
13
21
34

In [ ]:
#In case of generator function the state of the function is preserved between the calls. Generator function processes one item at a time and it doesnot store
#the entire dataset in the memory at once.

In [ ]:
def fibbo():
  a,b=0,1
  while True:
    yield a
    a,b=b,a+b
a1=fibbo()
for _ in range(10):
  print(next(a1))
#the state of the function is preserved between function calls that is next(a1) and secondly generator processes one item at atime and doesnot store
#entire dataset in the memory at once. Hence it is more memory-efficient.

0
1
1
2
3
5
8
13
21
34

In [ ]:
#exceptions can be handled by the programmer himself by using try except blocks but errors are mostly out of our hand for instance if you take the
#case of execution of OCR like easyocr, it might work in my system because of my hardware configuration but it might not work in your system
#because of your hardware configurations, memoryerror is a hardware problem, the only error that can be handled easily by the programmer
#  is syntax error

In [ ]:
#finally block executes no matter what, it gets executed even if there is an exception

In [ ]:
try:
  with open('mahendra.txt') as f1:
    print(f1.read())
except:
  with open('mahendra.txt','w') as f2:
    f2.write("""Who is ms dhoni?
    He is a warrior, He is a warrior
    O great a warrior""")
finally:
  with open('mahendra.txt') as f3:
    print(f3.read())

Who is ms dhoni?
    He is a warrior, He is a warrior
    O great a warrior
Who is ms dhoni?
    He is a warrior, He is a warrior
    O great a warrior

In [ ]:
import os
class ab:
  def __init__(self,value):
    self.a1="who is msd"
    self.a2=value
  def append(self):
    with open(self.a2,'a') as f2:
      f2.write(self.a1)
  def delete(self):
    os.remove(self.a2)

a=ab('dhamdham.txt')
a.append()

In [ ]:
a.delete()

In [ ]:
import os
class ab:
  def __init__(self,value):
    self.a1="Who is ms dhoni.\n Is he a warrior.\n Yes he is a warrior. \n When will the war arise.\n When will it start."
    self.a2=value
  def append(self):
    with open(self.a2,'a') as f2:
      f2.write(self.a1)
  def delete(self):
    os.remove(self.a2)

a1=ab('ranatunga.txt')
a1.append()

In [ ]:
a1.delete()

In [ ]:
#Assertions in python are used to raise exception if a condition holds true else it returns False
def diver(a,b):
  assert b!=0
  return a/b
c1=diver(5,10)
print(c1)

0.5

In [ ]:
c2=diver(8,0)
print(c2)

AssertionError: ignored

In [ ]:
#when you raise an error the program stops immediately which is not the case of handling an exception.

In [ ]:
#Custom exceptions are exceptions that are specific to application.

In [ ]:
#Passing in immutable objects to a function can be considered call by value as the values of immutable objects can never be changed and
#passing of mutable objects to a function can be considered call by reference as the values of mutable objects can be changed permanently.
string="mahin"
def fnb(srt):
  string="kjhl"
  print("Inner function ",string)
fnb(string)
#the object at which string within function is pointing at and the object at which string variable outside the function is pointing at are pointing
#to 2 completely different objects.

Inner function  kjhl

In [ ]:
print(string)

mahin

In [ ]:
ms=[1,2,3]
def func(mn):
  mn.append(4)
  print(mn)
func(ms)
print(ms)
#as you can see when you pass mn within a function and it gets appended then the object at which ms variable is pointing at gets effected too
#as well and this effect can be shown when ms is printed outside.

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
#Serialization is the process of converting data to a format that can be stored and later transported. Pickling on the other hand is
#converting data in byte streams and dumping it into memory so that it can be transported over. It is mostly done for custom made python
#objects so that all its functionalities and attributes are retained.

In [ ]:
#Json is used for converting data in human readable format whereas pickling converts data in byte streams

In [ ]:
import json
c={"name":"mahendra",
   "age":21,
   "weight":31}
with open("ext1.json",'w') as f1:
  json.dump(c,f1)
with open("ext1.json") as f2:
  c11=json.load(f2)
  print(c11)
  print(type(c11))

{'name': 'mahendra', 'age': 21, 'weight': 31}
<class 'dict'>

In [ ]:
import json
c1={'fname':'mahendra',
    'lname':'harendra',
    'age':29,
    'gender':'male'}
with open('ext2.json','w') as f1:
  json.dump(c1,f1,indent=4)
with open('ext2.json') as f2:
  c2=json.load(f2)
  print(c2)
  print(type(c2))

{'fname': 'mahendra', 'lname': 'harendra', 'age': 29, 'gender': 'male'}
<class 'dict'>

In [ ]:
import json
c1=[1,2,3]
with open('ex1.json','w') as f2:
  json.dump(c1,f2)
with open('ex1.json') as f1:
  c11=json.load(f1)
  print(c11)
  print(type(c11))
#As we can see that we can transport python datatypes using json format easily and the datatype is still retained

[1, 2, 3]
<class 'list'>

In [ ]:
class person1:
  def __init__(self,fname,lname,age,gender):
    self.fname=fname
    self.lname=lname
    self.age=age
    self.gender=gender
  def __str__(self):
    return f"Name:{self.fname} {self.lname},Age:{self.age},Gender:{self.gender}"
def show_obj(p):
  if isinstance(p,person1):
    return f"Name:{p.fname} {p.lname},Age:{p.age},Gender:{p.gender}"
p1=person1("Mahendra","singh",29,"Male")
with open('exl3.json','w') as f1:
  json.dump(p1,f1,default=show_obj)
with open('exl3.json') as f2:
  c124=json.load(f2)
  print(c124)
  print(type(c124))
#as we can see that if we want to store and transport custom python object using json, it returns it as string. This is where pikle comes
#in our use

Name:Mahendra singh,Age:29,Gender:Male
<class 'str'>

In [ ]:
import pickle
class person:
  def __init__(self,f,l,age,gender):
    self.fname=f
    self.lname=l
    self.age=age
    self.gender=gender
  def display(self):
    return f"Name:{self.fname} {self.lname},Age:{self.age},Gender:{self.gender}"
c11=person("Mahan","singh",34,"Male")
with open("zabron.pkl","wb") as f1:
  pickle.dump(c11,f1)
with open("zabron.pkl","rb") as f2:
  c14=pickle.load(f2)
  print(c14)
  print(type(c14))
c14.display()
#As we can see that pickling serializes the custom made python object into byte streams such that it can be transported intactly and
#such that its functionality is retained. json converts data into human understandable text format whereas pickling converts it into
#byte streams

<__main__.person object at 0x7ee9f70c7e80>
<class '__main__.person'>

'Name:Mahan singh,Age:34,Gender:Male'

In [ ]:
#.py contains the source code while .pyc contains the bytecode of the program. We get bytecode after compilation of .py files.
#Before execution python interpreter checks for .pyc files if found the python interpreter executes it else .py file is compiled into .pyc
#file and then executed by python interpreter. Having a .pyc file saves your compilation time.

In [ ]:
#Python's assert statement is used to raise an exception. If the statement is true then exception is not raised else exception is raised
#and program stops immediately.

In [ ]:
#*args and **kwargs accepts variable number of arguments where *args is variable number of positional arguments and **kwargs is variable number
#of keyword arguments. kwargs represent dictionary and args would be a tuple

In [ ]:
def foo(requires,*args,**kwargs):
  print(requires)
  if args:
    print(args)
  if kwargs:
    print(kwargs)
foo()

TypeError: ignored

In [ ]:
foo("mahendra")

mahendra

In [ ]:
foo("harendra",1,2,3)

harendra
(1, 2, 3)

In [ ]:
foo("Gajendra",1,2,3,a=1,b=2,c=3)

Gajendra
(1, 2, 3)
{'a': 1, 'b': 2, 'c': 3}

In [ ]:
def foo1(*args,**kwargs):
  new_args=args+(4,)
  kwargs['name']='mahendra'
  foo('jhu',*new_args,**kwargs)
foo1(1,2,3,a=1,b=2,c=3)
#new_args adds new positional arguments and when you add (4,) then a new element gets added to the args tuple and when an 'name' key is added
#to the dictionary and the forwarded to another function.

jhu
(1, 2, 3, 4)
{'a': 1, 'b': 2, 'c': 3, 'name': 'mahendra'}

In [ ]:
ar=()
if ar:
  print("msd")
else:
  print("lk")

lk

In [ ]:
ar1={}
if ar1:
  print("uss")
else:
  print("op")

op

In [ ]:
increment_by_i = [lambda x: x + i for i in range(10)]
print(increment_by_i[0](0))

9

In [ ]:
a1=[x for x in range(10)]
print(a1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a1=[lambda a,b:a+b+i for i in range(10)]
print(a1[9](1,2))

12

In [ ]:
def muller():
  md=[]
  for i in range(5):
    md.append(lambda x:x*i)
  return md
aa=muller()
k=[a(2) for a in aa]
print(k)

[8, 8, 8, 8, 8]

In [ ]:
#each lambda function takes the reference at which i variable is pointing and so only the latest value of the i will be taken into account
#when each function within a list is called by passing arguments.

In [ ]:
#when each function is called with argument 2 as a(2) then the value of i for each of the function will be 4, as 4 is the latest value of i
#after the end of the loop.

In [ ]:
#we can also prevent late binding using this process
def killer():
  mn=[]
  for i in range(5):
    mn.append(lambda x,i=i:x*i)
  return mn
aaa=killer()
k=[a(2) for a in aaa]
print(k)

[0, 2, 4, 6, 8]

In [ ]:
a1=[lambda x:x+a for a in range(10)]
print(a1[3](4))
#because of late binding the latest value of a will be passed when we call the function by passing 4 as argument. The last value of a after
#end of the loop will be 9 hence 9+4=13

13

In [ ]:
s_dict={'a':1,'b':2}
s_dict.update({'b':5})
print(s_dict)

{'a': 1, 'b': 5}

In [ ]:
class a:
  def __str__(self):
    return 1
class b(a):
  def __init__(self):
    super().__init__()
a1=a()
a2=b()
print(a1,a2)

TypeError: ignored

In [ ]:
from abc import ABCMeta, abstractmethod
class Parent(metaclass=ABCMeta):
    def __init__(self):
        self.num=100

    @abstractmethod
    def show(self):
        pass

class Child(Parent):
    def __init__(self):
        super().__init__()
        self.__var=10

    def show(self):
        print(self.num)
        print(self.__var)

obj=Parent()
obj.show()

TypeError: ignored

In [ ]:
li = [1, 2, 3, 4, 3]
def fun(x):
    return lambda x: 2*x
x = list(map(fun, li))

for i in range(5):
    p=sum(x[i](li[i:-1]))
    print(p)

20
18
14
8
0

In [ ]:
count={}
count[(1,2,4)] = 5
count[(4,2,1)] = 7
count[(1,2)] = 6
count[(4,2,1)] = 2
print(count)
tot = 0
for i in count:
    tot=tot+count[i]
print(len(count)+tot)

{(1, 2, 4): 5, (4, 2, 1): 2, (1, 2): 6}
16

In [ ]:
class Demo:
    def __init__(self):
        self.x = 1
    def change(self):
        self.x = 10
class Demo_derived(Demo):
    def change(self):
        self.x=self.x+1
        return self.x

obj = Demo_derived()
print(obj.change())

2

In [ ]:
numbers = {}
letters = {}
comb = {}
numbers[1] = 56
numbers[3] = 7
letters[4] = 'B'
comb['Numbers'] = numbers
comb['Letters'] = letters
print(comb)

{'Numbers': {1: 56, 3: 7}, 'Letters': {4: 'B'}}

In [ ]:
class Customer:
    def __init__(self, cust_id, age):
        self.cust_id = cust_id
        self.age = age

c1=Customer(100,20)

def change(c2):
    c2=Customer(100,21)

change(c1)
print(c1.age)

20

In [ ]:
x=1
def cg():
 global x
 x=x+1
cg()
x

2

In [ ]:
10/5==2
#difference between / and //

True

In [ ]:
s1={3, 4}
s2={1, 2}
s3=set()
i=0
j=0
for i in s1:
    for j in s2:
        s3.add((i,j))
        i+=1
        j+=1
print(s3)

{(3, 1), (4, 1), (4, 2), (5, 2)}

In [ ]:
print(5/2)

2.5

In [ ]:
print(5//2)

2

In [ ]:
print(6/2)

3.0

In [ ]:
print(6//2)

3

In [ ]:
6/2==6//2

True

In [ ]:
5/2==5//2

False

In [ ]:
3.0==3
#/ this operator returns the floating number quotient while // operator returns the integer part of division and discards the decimal part

True

In [43]:
#key takeaways
#1./ this operator returns the entire float part of division while // this operator returns only the integer part of division.
#2.The return value of x.append(1) or x.append(2)......or any such thing is None hence x.append(x.append(0)) the x would be equivalent to
#[0,None]
#3.If any changes are made to the list passed within a function then those changes will also be reflected in the original list as lists are
#mutable and changes can be made to it while their memory location remains intact.
#4. Even if we donot define constructor in the child class, the object of the child class can still access variables of the parent class and
#as we see the methods of the parent class can also be accessed by the objects of the child class.
#5. If you want to inherit all the attributes defined in parent constructor into the child constructor while adding a few more attributes
#to the child constructor then you do super().__init__(), if you donot do this super().__init__() then your child class constructor
#will over-ride the parent class constructor completely also any function of the child class with the same name as any function in the
#parent class will over-ride the method with the same name in parent class.
#6. sum function won't work on heterogeneous sets.
#7. Even if you donot define any constructor in the base class, you can still do super().__init__() while defining the constructor of
#the child class and it still won't give any error. All the methods from base class are imported in the child class including dunder
#methods.
#8. whether you print(1) or print('1'), it will return 1 only.
#9.Exceptions can be raised along with custom message. The Exception can be raised either by using raise Exception or raise Exception()
#The error message can either be passed within the bracket or the Exception can be caught and subsequent error message displayed.
#10. You create a custom exception class by importing Exception class as parent class when you also have to perform some task along with
#printing some error message.
#11. You cannot create a custom exception class with a custom name without creating a seperate exception class for that custom exception.
#12. If a method is declared as a abstract method in parent class then it has to be defined in child class at any cost.
#13. To define a method as abstract method we have to do this from abc import ABC,abstractmethod followed by class dham(ABC)
#we also have to import ABC in our parent class.
#14. If we try to catch error with a series of Exceptions and if except Exception as at the start then only the part under except Exception
#will be executed, the rest of the exceptions won't be executed. also once exception is raised, the control won't come back to the original
#loop or place where the exception was raised.
#15. If you donot make any constructor method in your child class then the parent constructor method is imported by default.
#16. If you make constructor method in your child class then the parent constructor method will get over-ridden.
#17. If there are 3 classes class a,class b and class c and class b(a), class c(b) and if a constructor is defined in a but not in class b
#and class c then the constructor of class a will also be present in class b and class c.
#18. If there are 3 classes class a,class b and class c and class b(a), class c(b) and if a constructor is defined in a but not in b but
#defined in c then constructor of c should have super().__init__() to prevent over-riding of constructor of b(class b will have constructor
#of a by default).
#19. Abstract classes cannot be instantiated, we cannot create any instances from abstract classes.
#20. If lambda function is returned by a function func and if func is applied to every item of an iterable using map then the list we would
#get as output would contain lambda functions.
#21. math.ceil(a) would convert 99.2 to 100.
#22. If a key is initialized with 2 different values twice then the latest value will be taken as final value by that particular key of the
#dictionary.
#23. Values of dictionary may or may not be unique, multiple keys can have the same values, keys have to be unique though.
#24. The moment return statement is encountered, the control exits the function but it doesnot apply for try, except, finally blocks. In case of
#try, except, finally blocks, each of the blocks will be executed even if they contain return statements with the only condition that
#no statement after the return statement will be executed.
#25. Applying str() function on a list say a1=[1] and str(a1) will result in '[1]' and applying str on each item of a list say a1=[[0],[1]]
#using map function list(map(str,a1)) will result in ['[0]','[1]'].
#26. slicing or a1[5:6] returns a part of the list which is list itself and not list element.
#27. A generator expression is similar to list comprehension except that it generates items one at a time and doesnot store the entire list
#in the memory at once.Hence it is more memory efficient. It generates items on-the-fly and when required(either in loop or using next).
#The generator expression is (expression for item in iterable) for example (x**2 for x in range(5)).
#28.song.upper() doesnot convert the song variable to uppercase.
#29. if(boolean comparision) is a equally valid statement.
#30. A variable referring to a immutable data-type object can be accessed within a function using global keyword and changed. The variable now
#starts pointing towards a new memory location both inside and outside the function after using global keyword.
#31.isalpha() function checks if a string has all alphabets, isalnum() function checks if a string has alphanumerics and isdigit() function is
#used to find if a string only contains digits.
#32. If a global variable(declared with a list at the global scope) is passed inside a function and within the function it is re-assigned
#with some new value say k=[1] or q=[1] then the variable at global level(say q) will still not be changed as q at global scope and q at local
#scope are now referencing to 2 completely new memory locations and hence any change made to the memory location that global q is referencing to
#will not get reflected to the memory location that local q is referencing to and vice-versa
#def foo1(q):
#    q=[0]
#q=[1]
#fool(q)
#print(q)
#q will still print [1], when you pass q to function then you are actually passing reference of list [1] but rather than appending or
#popping elements when you do q=[0], you re-assign reference of new list to the variable q but this reference will only exist at the
#local scope and will not be reflected to q at the global scope.
#33. when you convert dictionary to a list only keys of dictionary will be taken as list elements.
#34. to dump a data within we use pickle.dump(c1,f1) where c1 is data and f1 is file and to load a data from it we use pickle.load(f)
#where f is file.
#35.pop() function removes last element from the list say from [1,2,3,4] it will remove 4
#36. int('0011',2) means converting binary string '0011' to integer using base 2.
#37. If there are 4 recursive calls in a function then the decorator  will evaluate for each step.
#38. The reduce function reduces a list to a single value using certain functions.
#39. The filter function applied function to a list and returns iterator containing only those items for which a boolean condition
#holds True.
#40. Applying sum() function like this li.sum() where li is list is False. sum() can be applied only like this sum(li)
#41. An iterable contains only the __iter__ method whereas iterator contains both the __next__ as well as the __iter__ methods
#an iterator remembers its current state as demonstrated below but iterable doesnot remember its current state.

In [ ]:
x=[]
x.append(x.append(0))
print(x)

[0, None]

In [ ]:
def foo(i,x=[]):
  x.append(x.append(i))
  return x
for i in range(3):
  y=foo(i)
print(y)
#When i=0 then x.append(i) would result in x=[0] after which x.append(x.append(i)) would result in x.append(None), so x=[0,None]
#When i=1 then x.append(i) would result in x=[0,None,1] after which x.append(x.append(i)) would result in x.append(None), so x=[0,None,1,None]
#when i=2 then x.append(i) would result in x=[0,None,1,None,2] after which x.append(x.append(i)) would result in x.append(None),so
#x=[0,None,1,None,2,None]

[0, None, 1, None, 2, None]

In [ ]:
x1=[]
print(x1.append(1))

None

In [ ]:
x1

[1]

In [ ]:
def foo(x):
  x[0]=['def']
  x[1]=['abc']
  return id(x)
q=['abc','def']
print(id(q)==foo(q))
#True is returned as when q is passed to foo function and when every element of list q is changed by using x[0] and x[1] then you are making
#changes to the same list and as lists are mutable so changes can be made to it while its memory location still remains intact. Hence id(x)
#and id(q) will remain the same.

True

In [ ]:
def foo1(x):
  x=[1,2,3]
  return id(x)
q=['a','b']
print(id(q)==foo1(q))
#This returns False as x is now equated with a completely new list which now points at a completely different memory location. Hence id(q)
#now won't be the same as id(x) because both the variables now point at 2 completely different memory locations.

False

In [ ]:
a = [1, 2, 3, 4, 5]
b = lambda x: (b (x[1:]) + x[:1] if x else [])
print(b (a))

[5, 4, 3, 2, 1]

In [ ]:
a=[1,2,3,4,5]
a[:1]

[1]

In [ ]:
a=[1,2,3,4]
[]+a[:1]

[1]

In [ ]:
print(a[:1])

[1]

In [ ]:
a=[1,2,3,4,5]
b=lambda x:b(x[1:])+x[:1] if x else []
print(b(a))
#initially b([1,2,3,4,5]) is passed which results in b([2,3,4,5])+[1], Now b([2,3,4,5]) is called
#This results in b([3,4,5])+[2], now b([3,4,5]) is called
#Calling b([3,4,5]) results in b([4,5])+[3], now b([4,5]) is called
#Calling b([4,5]) results in b([5])+[4] , now b(5) is called
#Calling b(5) results in b([])+[5]
#b([]) results in [], now []+[5] results in [5]--returned by b([])+[5](Result of b(5))
#Now b([4,5]) results in [5]+[4]=[5,4]
#Now b([3,4,5]) would result in [5,4]+[3]=[5,4,3]
#Now b([2,3,4,5]) would result in b([3,4,5])+[2] which is [5,4,3,2]
#Lastly b([1,2,3,4,5]) would result in [5,4,3,2,1]

[5, 4, 3, 2, 1]

In [ ]:
class A:
  def __init__(self,a1,a2):
    self.a1=a1
    self.a2=a2
  def mandal(self):
    return f"what is ms of class A {self.a1}"
class B(A):
  def display(self):
    return f"What is ms of class B {self.a2}"
c1=B(21,24)
c1.display()
#as we can see even if you donot declare any constructor method in child class then the child class object can still access variables of
#parent class.

'What is ms of class B 24'

In [ ]:
c1.mandal()

'what is ms of class A 21'

In [ ]:
class A1:
  def __init__(self,a1,a2):
    self.a1=a1
    self.a2=a2
  def mandal(self):
    return f"what is this asb class {self.a1}"
class B1(A1):
  def __init__(self,a1,b,b1):
    super().__init__(a1,b)
    self.b1=b1
  def andal(self):
    return f"what is bsb class {self.b1} and asb class {self.a1}"
c11=B1(135,130,125)
c11.andal()
#As you can if you want to add new attributes of the child class while retaining all the attributes of the parent class
#then you have to use super().__init__(a1,b), else the entire child constructor will over-ride the parent constructor.

'what is bsb class 125 and asb class 135'

In [ ]:
class ab:
  def mani(self):
    return f"who is ab"
class cd(ab):
  def mani(self):
    return f"who is cd"
a11=cd()
a11.mani()
#As you can see that a method with the same name in child class completely over-rides a method with the same in parent class

'who is cd'

In [ ]:
a={1:100,2:200,3:300,4:400,5:500,6:600}
a.update({4:450,3:350,7:700})
print(a)
#As we can see we can also update the values with respect to some keys using update in case of python dictionary.

{1: 100, 2: 200, 3: 350, 4: 450, 5: 500, 6: 600, 7: 700}

In [ ]:
class a1:
  def __str__(self):
    return '1'
class b1(a1):
  def __init__(self):
    super().__init__()
class c1(b1):
  def __init__(self):
    super().__init__()
a11=a1()
b11=b1()
c11=c1()
print(a11,b11,c11)
#As you can see that even if you donot define any constructor in the base class, you still won't get any error when you import constructors
#from the same base class into the child class. As you also see all the methods are imported from base class into the child classes.

1 1 1

In [ ]:
print("1")
print('1')
print(1)

1
1
1

In [ ]:
try:
    if '2' != 2:
        raise "Python"
    else:
        print("Python has not exist")
except "Python":
    print ("Python has exist")

TypeError: ignored

In [ ]:
if '2'!=2:
  raise Exception("Where is this")
else:
  raise Exception("When is this")

Exception: ignored

In [ ]:
if '2'==2:
  raise Exception("When was this")
else:
  raise Exception("How was this")

Exception: ignored

In [ ]:
class Customerror(Exception):
  def __init__(self,message):
    self.message=message
    super().__init__(self.message)
try:
  if '2'!=2:
    raise Customerror("Where is it?")
  else:
    print("who is it")
except Customerror as c:
  print("Caught custom error ",c.message)

Caught custom error  Where is it?

In [ ]:
class custom1(Exception):
  def __init__(self,message="mahendra"):
    self.message=message
try:
  if '2'!=2:
    raise custom1("who is custom1")
  else:
    print("when did he")
except custom1 as c:
  print("caught custom1 error ",c.message)

caught custom1 error  who is custom1

In [ ]:
try:
  if '2'!=2:
    raise Exception
  else:
    print("when to start")
except Exception:
  print("This is error")
  #we can also create exception like this where you don't have to send a custom error message in the argument, that Exception can be caught
  #easily and a custom error message is sent.

This is error

In [ ]:
try:
  if '2'!=2:
    raise Exception()
  else:
    print("When to start")
except Exception:
  print("inside message")
#as you can see that you can raise exception like this ( Exception ) as well as like this ( Exception() ).

inside message

In [ ]:

  if '2'!=2:
    raise Exception("when is he")
  else:
    print("what is this and how")

Exception: ignored

In [ ]:
try:
  if '2'!=2:
    raise Exception("what a war")
  else:
    print("hit")
except Exception as e:
  print(e)
#if you want to raise Exception with a custom message, we can do it this way by raising exceptions like this( raise Exception ) followed by
#a message in the bracket which can be caught and printed.

what a war

In [ ]:
if '2'!=2:
  raise Exception
else:
  print("When did he")

Exception: ignored

In [ ]:
class mnb(Exception):
  def __init__(self,message):
    self.message=message
try:
  if '2'!=2:
    raise mnb("who is it?")
  else:
    print("2222222")
except mnb as m:
  print(m)

who is it?

In [ ]:
try:
  if '2'!=2:
    raise Python
  else:
    print("jennifer")
except Python:
  print("wrong")
#As you can see, you cannot raise an Exception like this with custom names using raise custom_name unless you have created a custom exception
#class which imports Exception as parent class

NameError: ignored

In [ ]:
try:
  if '2'!=2:
    raise Pt(Exception)
  else:
    print("what the hell")
except Pt:
  print("ohhhhhh")
#As you can see you cannot raise custom exception errors with custom names without creating a new exception class.

NameError: ignored

In [ ]:
from abc import ABC,abstractmethod
class mnbf(ABC):
  def mhj(self):
    print("ooo great")
  @abstractmethod
  def dham(self):
    pass
  @abstractmethod
  def fam(self):
    pass
class bf2(mnbf):
  def dham(self):
    print("kya hai ye")
  def fam(self):
    print("kaun hai ye")
c11=bf2()
c11.dham()

kya hai ye

In [ ]:
c11.fam()

kaun hai ye

In [ ]:
class mandal(Exception):
  def __init__(self,message="What a shot is this"):
    self.message=message
try:
  if '2'!=2:
    raise mandal
    print("why did it")
  else:
    print("who else")
    print("why did it not execute")
except Exception as e:
  print("oh la la")
  print("kaif")
except mandal as m:
  print("error is ",m.message)
#as you can see, if you try to catch a error with a series of exceptions and except Exception is at the beginning then only the except
#Exception part will be executed. The rest of the exceptions won't be executed. also as we can see the moment we come across a exception
#we donot return to the original loop which had raised the Exception.

oh la la
kaif

In [ ]:
class a1:
  def __init__(self):
    self.__value=200
  def inc(self):
    return self.__value+1
class b1(a1):
  def num(self):
    num=100
    return num
class c1(b1):
  def __init__(self):
    self.num=200
a11=a1()
c11=c1()
print(c11.inc())
#In this case the constructor in class c1 is over-riding the constructor method it has imported from its parent class b1(which has imported
#the constructor of a1 by default)

AttributeError: ignored

In [ ]:
class a2:
  def __init__(self):
    self.__value=200
  def get_value(self):
    return self.__value+1
class b2(a2):
  def get_num(self):
    num=100
    return num
class c2(b2):
  def __init__(self):
    super().__init__()
    self.num=200
c11=c2()
print(c11.get_value())
# Here, we have not defined constructor method in class b2 but b2 will get the constructor of a2 by default but when we create a constructor
#in c2 but want c2 to retain its original attributes as well so for the same we do super().__init__() within the constructor of c2.

201

In [ ]:
from abc import ABCMeta, abstractmethod
class Parent(metaclass=ABCMeta):
    def __init__(self):
        self.num=100

    @abstractmethod
    def show(self):
        pass

class Child(Parent):
    def __init__(self):
        super().__init__()
        self.__var=10

    def show(self):
        print(self.num)
        print(self.__var)

obj=Parent()
obj.show()

TypeError: ignored

In [ ]:
from abc import ABC,abstractmethod
class abc1(ABC):
  def __init__(self):
    self.a1=100
  @abstractmethod
  def minnow(self):
    pass
class bnm(abc):
  def minnow(self):
    print("hello")
c11=abc1()
print(c11.minnow())
#abstract classes cannot be instantiated, we cannot create any instances from abstract classes.

TypeError: ignored

In [ ]:
c12=bnm()
c12.minnow()

hello

In [ ]:
li = [1, 2, 3, 4, 3]
def fun(x):
    return lambda x: 2*x
x = list(map(fun, li))
print(x)

for i in range(5):
    p=sum(x[i](li[i:-1]))
    print(p)

[<function fun.<locals>.<lambda> at 0x7e7aaad8cb80>, <function fun.<locals>.<lambda> at 0x7e7aaad8d090>, <function fun.<locals>.<lambda> at 0x7e7aaad8ca60>, <function fun.<locals>.<lambda> at 0x7e7aaad8c9d0>, <function fun.<locals>.<lambda> at 0x7e7aaad8d000>]
20
18
14
8
0

In [ ]:
a=[1,2,3,4,5]
def func(x):
  return x**2
list(map(func,a))

[1, 4, 9, 16, 25]

In [ ]:
# Mapping function that returns a lambda function to double the number
def double_function():
    return lambda x: x * 2

# List of numbers
numbers = [1, 2, 3, 4, 5]

# Using map with the double_function
doubled_numbers = map(double_function, numbers)

# Converting the iterator to a list to see the results
result = list(doubled_numbers)

print(result)

TypeError: ignored

In [4]:
#for each item in the iterable, the map() function calls the specified function with the item as an argument.
#for each item in the iterable, the map() function calls the specified function with the item as an argument.
a11=[2,3,4,5,6]
def func(x):
  return lambda x:2*x
a1=list(map(func,a11))
print(a1)
#If we return a lambda function within your function and if func is applied to every item of an iterable then we still get lambda function
#as every item of our list.
#if b=lambda x:2*x then this lambda function is called by using b(2),b(4).....or so on....

[<function func.<locals>.<lambda> at 0x787f7c00e290>, <function func.<locals>.<lambda> at 0x787f7c00e440>, <function func.<locals>.<lambda> at 0x787f7c00e3b0>, <function func.<locals>.<lambda> at 0x787f7c00e320>, <function func.<locals>.<lambda> at 0x787f7c00e050>]

In [7]:
import math
a1=99.2
print(math.ceil(a1))
#math.ceil() function converts the decimal to its maximum value. For example it would convert 99.2 to 100 and so on

100

In [10]:
li = [1, 2, 3, 4, 3]
def fun(x):
    return lambda x: 2*x
x = list(map(fun, li))

for i in range(5):
    p=sum(x[i](li[i:-1]))
    print(p)

20
18
14
8
0

In [12]:
count={}
count['a']=5
count['b']=6
count['c']=7
count['a']=2
print(count)
#if you initialize 2 keys with the same name in a dictionary then the latest value of the key will be taken as you can see the value of
#key 'a' has been updated to 2.

{'a': 2, 'b': 6, 'c': 7}

In [16]:
class Demo:
    def __init__(self):
        self.x = 1
    def change(self):
        self.x = 10
class Demo_derived(Demo):
    def change(self):
        self.x=self.x+1
        return self.x
def main():
    obj = Demo_derived()
    print(obj.change())

main()
#if you call a method from a object then that method is first searched in the child class and if found in the child class, the same method
#in the parent class isnot even visited. Hence self.x is first inherited from the constructor of the parent and then incremented in the
#child class's change method.

2

In [2]:
def foo():
    try:
        return 1
    finally:
        return 2

k = foo()
print(k)

2

In [3]:
k

2

In [4]:
def fool():
  if 1:
    return 1
  if 2:
    return 2
c11=fool()
print(c11)
#The moment a return statement is encountered, the control exits the function

1

In [7]:
def fool1():
  if 1:
    return 1
    print("what")
  if 2:
    return 2
    print("if")
print("ok")
c12=fool1()
print(c12)
#As you can see the moment return statement is encountered, the control exits the function, even the print statement right under the return
#statement is not executed.

ok
1

In [12]:
def fool2():
  try:
    return 1
    print("oh")
  finally:
    print("what")
    return 2
    print("oz")
c14=fool2()
print(c14)
#if return statement is present in try except blocks then the try finally blocks or except blocks will be executed no matter what even if
#return statement is encountered in each of this blocks, the only difference being that if some statements are written after the return
#statement in any of the try, except or finally blocks then that part won't be executed.

what
2

In [14]:
x = [[0], [1]]
print((' '.join(list(map(str, x))),))

('[0] [1]',)

In [1]:
x1=[[0],[1]]
print(list(map(str,x1)))

['[0]', '[1]']

In [3]:
a1=[0]
k1=str(a1)
print(type(k1))

<class 'str'>

In [5]:
a4=[[0],[1]]
k1=list(map(str,a4))
print(k1)
#as you can see when you convert [0] to string, it becomes '[0]' and not '0'. If you convert each item of this list [[0],[1]] to str then
#we get ['[0]','[1]']. and not ['0','1']

['[0]', '[1]']

In [ ]:
a = [[[10835,   596],
        [  142,   639],
        [ 4165,    34]],

       [[17193,  1753],
        [ 4639,  7357],
        [ 1278, 16389]],

       [[10583,  1223],
        [14326, 14079],
        [ 4959, 14701]],

       [[15612, 10027],
        [ 1137, 15540],
        [ 9194, 11609]],

       [[12090, 10898],
        [19437, 15070],
        [16592,  6544]],

       [[12367, 19572],
        [ 8796,     4],
        [13577,  6505]],

       [[12489, 12089],
        [15840,  5979],
        [ 4952,  9753]],

       [[ 6461,  1604],
        [16877, 11262],
        [13859, 12849]],

       [[ 1654, 13335],
        [ 8165, 10417],
        [ 5226, 19609]],

       [[ 8170,  3577],
        [19748, 12171],
        [ 7666, 14427]]]
print(a[5][1][1])

In [12]:
a[5:6][0][1][1]

4

In [13]:
a[6:7][1][0][1]

IndexError: ignored

In [14]:
a[1][5:6][0][1]

IndexError: ignored

In [15]:
a[5:6]

[[[12367, 19572], [8796, 4], [13577, 6505]]]

In [16]:
a[5]

[[12367, 19572], [8796, 4], [13577, 6505]]

In [1]:
#slicing or a[5:6] outputs a part of the list and not list element

In [2]:
a1 = [[[10835,   596],
        [  142,   639],
        [ 4165,    34]],

       [[17193,  1753],
        [ 4639,  7357],
        [ 1278, 16389]],

       [[10583,  1223],
        [14326, 14079],
        [ 4959, 14701]],

       [[15612, 10027],
        [ 1137, 15540],
        [ 9194, 11609]],

       [[12090, 10898],
        [19437, 15070],
        [16592,  6544]],

       [[12367, 19572],
        [ 8796,     4],
        [13577,  6505]],

       [[12489, 12089],
        [15840,  5979],
        [ 4952,  9753]],

       [[ 6461,  1604],
        [16877, 11262],
        [13859, 12849]],

       [[ 1654, 13335],
        [ 8165, 10417],
        [ 5226, 19609]],

       [[ 8170,  3577],
        [19748, 12171],
        [ 7666, 14427]]]
print(a1[5:6][0][1][1])

4

In [10]:
#A generator expression is similar to list comprehension except that generator expression generates one item at a time and doesnot generate
#the entire list in the memory at once a1=(expression for item in iterable).
gen1=(x**2 for x in range(5))
# next(gen)
# next(gen)

In [8]:
next(gen)

4

In [11]:
for i in gen1:
  print(i)

0
1
4
9
16

In [2]:
song="JINGLE Bells jingle Bells Jingle All The Way"
song.upper()
print(song)
#As we can see song.upper() doesnot change the song string forever

JINGLE Bells jingle Bells Jingle All The Way

In [4]:
a=1
b=2
if(a==b):
  print("tu")
else:
  print("mai")
#as you can see even if(boolean condition) is equally valid

mai

In [7]:
x=2
print(id(x))
def func():
  global x
  x=x+1
  print(x)
  print(id(x))
func()

132508416934160
3
132508416934192

In [9]:
x=2
print(id(x))
def func1(x):
  x=x+1
  print(x)
  print(id(x))
func1(x)
print(id(x))

132508416934160
3
132508416934192
132508416934160

In [11]:
num1 = 10
num2 = 5
num3 = 0
num4 = 2
num5 = 10
not(num3 >= num4) and (num5/num2 == num4)

True

In [12]:
s1={3, 4}
s2={1, 2}
s3=set()
i=0
j=0
for i in s1:
    for j in s2:
        s3.add((i,j))
        i+=1
        j+=1
print(s3)

{(3, 1), (4, 1), (4, 2), (5, 2)}

In [15]:
s1={9, 55}
s2={11, 44}
s3=set()
i=0
j=0
for i in s1:
    for j in s2:
        s3.add((i,j))
        i+=1
        j+=1
#as you can see i and j will get equated with the same value as present in the sets even if you increment their respective values.
print(s3)

{(9, 11), (10, 44), (56, 44), (55, 11)}

In [21]:
a1="123"
a1.isdigit()
#isdigit() checks if a string has all digits

True

In [20]:
a2="amanabhat"
a2.isalpha()
#isalpha() checks if a string has all alphabets

True

In [19]:
a3="123aer"
a3.isalnum()
#isalnum() checks if a string has alphanumerics

True

In [7]:
def foo(k):
    k = [1]
    print(q)
q = [0]
foo(q)
print(q)
#if you would have appended a new element or popped elements using k then the change would have reflected in the original list that q is
#referring to as well but as we are completely re-assigning a new item to the variable k, so the memory location that q is pointing at and
#the memory location that k is pointing at are completely different. Secondly k exists within the local scope of the function while q is
#present on the global scope.

[0]
[0]

In [4]:
def foo1():
  global q
  q=[1]
q=[0]
foo1()
print(q)
#this is how we can change q at global level

[1]

In [9]:
def foo2(q):
  q=[1]
q=[0]
foo2(q)
print(q)
#the q variable within the local scope of the function is referencing to a completely new address as compared to q variable in the global
#sope because variable q within the local scope has been assigned to a new list and hence it references to a new memory location which is
#not the same as the memory location that q at the global scope is referencing.

[0]

In [14]:
a1={'name':'mahendra','age':29}
print(list(a1))
#as you can see when you convert dictionary to list only the keys are taken and made part of the list.

['name', 'age']

In [16]:
import pickle
f=open('pakk.txt','wb')
f1={'name':'dhoni','age':21,'first':'what','last':'is'}
pickle.dump(f1,f)
f.close()

f=open('pakk.txt','rb')
f2=pickle.load(f)
print(list(f2))
f.close()

['name', 'age', 'first', 'last']

In [18]:
a=[1,2,3,4]
a.pop()
#as you can see pop() function removes the last element of the list

4

In [20]:
int('0011',2)
#this statement means converting binary string to integer using base 2

3

In [24]:
def double(func):
    def func1(*args):
        return 2*func(*args)
    return func1

@double
def lcm(a, b):
    if b==0:
        return a
    return lcm(b, a%b)
lcm(2,3)
#there are 4 recursive calls here and after the final value is returned, for every recursive call the double decorator will run
#so lcm(2,3) calls lcm(3,2) which calls lcm(2,1) which calls lcm(1,0) which returns 1. So 1 will be multiplied with 2 for lcm(1,0)
#2 will be multiplied with 2 w.r.t lcm(2,1) making it 4, 4*2=8 for lcm(3,2) and finally 8*2 for lcm(2,3) making it 16

16

In [26]:
from functools import reduce

li = [5, 8, 13, 20, 100, 50]
li.sort(reverse=True)
div5_4 = lambda x : x%5==0 or x%4==0
li = list(filter(div5_4, li))
x = reduce(lambda x,y:x+y, li)
x = li.sum() - x

AttributeError: ignored

In [27]:
from functools import reduce

li = [5, 8, 13, 20, 100, 50]
li.sort(reverse=True)
div5_4 = lambda x : x%5==0 or x%4==0
li = list(filter(div5_4, li))
x = reduce(lambda x,y:x+y, li)
# x = li.sum() - x
print(x)

183

In [31]:
from functools import reduce
li = [5, 8, 13, 20, 100, 50]
a1=reduce(lambda x,y:x+y,li)
print(a1)
#reduce function uses a function(in this case a lambda function) to reduce list to a single value.

196

In [33]:
li = [5, 8, 13, 20, 100, 50]
a2=list(filter(lambda x:x%4==0 or x%5==0,li))
print(a2)
print(type(a2))
#filter function applies a function to every item of a list and returns an iterator containing only those items for which a condition
#holds True.

[5, 8, 20, 100, 50]
<class 'list'>

In [36]:
li = [5, 8, 13, 20, 100, 50]
li.sum()
#applying sum() like this li.sum() is wrong, sum function can be applied only like this sum(li)

AttributeError: ignored

In [35]:
sum(li)

196

In [39]:
a1=(x**2 for x in range(5))
next(a1)
#generator is a way of creating iterator

0

In [40]:
next(a1)

1

In [42]:
next(a1)
#As you can see iterator remembers its current state, when you apply next function in the beginning 0 is returned then 1 is returned
#and lastly 4 is returned.

9

In [38]:
print(type(a1))

<class 'generator'>

In [2]:
a=5
if a==5:
  raise ValueError("what a shot")
else:
  raise ValueError("Not a good shot")

ValueError: ignored

In [3]:
a=5
a-=1
print(a)

4

In [16]:
class VendingMachine:
    # Implement the VendingMachine here

    def __init__(self, num_items=0, item_price=0):
        self.num_items=num_items
        self.item_price=item_price

    def buy(self, req_items=0, money=0):
      try:
        if self.num_items>req_items and self.item_price*req_items==money:
            self.num_items-=req_items
            print(money-self.item_price*req_items)
        elif self.num_items<req_items:
            raise ValueError("Not enough items in the machine")
        elif self.item_price*req_items>money:
            raise ValueError("Not enough coins")
      except ValueError as e:
        print(str(e))
if __name__=='__main__':
  a=input().split()
  a=list(map(int,a))
  a1=VendingMachine(a[0],a[1])
  a2=int(input())
  for i in range(a2):
    a3=list(map(int,input().split()))
    a1.buy(a3[0],a3[1])

10 2
4
1 5
10 100
7 100
2 3
Not enough coins

In [5]:
a=input().split()
a=list(map(int,a))
print(a)

10 2
[10, 2]

In [15]:
class VendingMachine:
    def __init__(self, num_items=0, item_price=0):
        self.num_items = num_items
        self.item_price = item_price

    def buy(self, req_items=0, money=0):
        try:
            if self.num_items < req_items:
                raise ValueError("Not enough items in the machine")
            elif self.item_price * req_items > money:
                raise ValueError("Not enough coins")
            else:
                self.num_items -= req_items
                print(money - self.item_price * req_items)  # Output the remaining money
        except ValueError as e:
            print(str(e))  # Output the error message

if __name__ == '__main__':
    a = input().split()
    a = list(map(int, a))
    a1 = VendingMachine(a[0], a[1])
    a2 = int(input())
    for i in range(a2):
        a3 = list(map(int, input().split()))
        a1.buy(a3[0], a3[1])

10 2
4
1 5
3
10 100
Not enough items in the machine
7 100
86
2 3
Not enough coins

In [18]:
a=float(2.8)
print(a)
x=2.8
print(x)

2.8
2.8